### Market 데이터 불러오기

In [1]:
# pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\yoojiyoung\scoop\apps\python\current\lib\site-packages (14.0.1)
Requirement already satisfied: numpy>=1.16.6 in c:\users\yoojiyoung\scoop\apps\python\current\lib\site-packages (from pyarrow) (1.26.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

path1 = 'C:/Users/Yoojiyoung/OneDrive - 경희대학교/market1.parquet'
df1 = pd.read_parquet(path1)
df1

,companyId,companyName,tickerSymbol,exchangeSymbol,ISOCode,pricingDate,exDate,payDate,recordDate,announcedDate,...,divAdjFactor,marketCap,TEV,sharesOutstanding,divFreqTypeName,supplementalTypeName,dividendTypeName,divAmount,netAmount,grossAmount
0,18511,3i Group plc,III,LSE,GBP,2023-10-10,NaT,NaT,NaT,NaT,...,1.0000000000,19773.534495,20396.534495,962684250,None,None,None,None,None,None
1,18511,3i Group plc,III,LSE,GBP,2023-10-09,NaT,NaT,NaT,NaT,...,1.0000000000,19248.871578,19871.871578,962684250,None,None,None,None,None,None
2,18511,3i Group plc,III,LSE,GBP,2023-10-06,NaT,NaT,NaT,NaT,...,1.0000000000,19407.714480,20030.714480,962684250,None,None,None,None,None,None
3,18511,3i Group plc,III,LSE,GBP,2023-10-05,NaT,NaT,NaT,NaT,...,1.0000000000,19330.699740,19953.699740,962684250,None,None,None,None,None,None
4,18511,3i Group plc,III,LSE,GBP,2023-10-04,NaT,NaT,NaT,NaT,...,1.0000000000,19085.215256,19708.215256,962684250,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21103666,6043156,"Taisei Lamick Co., Ltd.",4994,TSE,JPY,2017-05-30,NaT,NaT,NaT,NaT,...,0.8567438977,19898.461206,17991.461206,6926022,None,None,None,None,None,None
21103667,6043156,"Taisei Lamick Co., Ltd.",4994,TSE,JPY,2017-05-29,NaT,NaT,NaT,NaT,...,0.8567438977,19856.905074,17949.905074,6926022,None,None,None,None,None,None
21103668,6043156,"Taisei Lamick Co., Ltd.",4994,TSE,JPY,2017-05-26,NaT,NaT,NaT,NaT,...,0.8567438977,19739.162700,17832.162700,6926022,None,None,None,None,None,None
21103669,6043156,"Taisei Lamick Co., Ltd.",4994,TSE,JPY,2017-05-25,NaT,NaT,NaT,NaT,...,0.8567438977,19849.979052,17942.979052,6926022,None,None,None,None,None,None
21103670,6043156,"Taisei Lamick Co., Ltd.",4994,TSE,JPY,2017-05-24,NaT,NaT,NaT,NaT,...,0.8567438977,19905.387228,17998.387228,6926022,None,None,None,None,None,None

In [22]:
col_lst = list(df1.columns)
col_lst

NameError: name 'df1' is not defined

In [4]:
col_lst_new = ['tickerSymbol', 'pricingDate', 'priceClose', 'adjustmentFactor', 'divAdjFactor']
col_lst_new

['tickerSymbol',
 'pricingDate',
 'priceClose',
 'adjustmentFactor',
 'divAdjFactor']

In [5]:
lst = [item for item in col_lst if item not in col_lst_new]
lst

['companyId',
 'companyName',
 'exchangeSymbol',
 'ISOCode',
 'exDate',
 'payDate',
 'recordDate',
 'announcedDate',
 'volume',
 'VWAP',
 'marketCap',
 'TEV',
 'sharesOutstanding',
 'divFreqTypeName',
 'supplementalTypeName',
 'dividendTypeName',
 'divAmount',
 'netAmount',
 'grossAmount']

In [6]:
df1.drop(lst, axis=1, inplace=True)
df1

         tickerSymbol pricingDate   priceClose adjustmentFactor  divAdjFactor
0                 III  2023-10-10    20.540000     1.0000000000  1.0000000000
1                 III  2023-10-09    19.995000     1.0000000000  1.0000000000
2                 III  2023-10-06    20.160000     1.0000000000  1.0000000000
3                 III  2023-10-05    20.080000     1.0000000000  1.0000000000
4                 III  2023-10-04    19.825000     1.0000000000  1.0000000000
...               ...         ...          ...              ...           ...
21103666         4994  2017-05-30  2873.000000     1.0000000000  0.8567438977
21103667         4994  2017-05-29  2867.000000     1.0000000000  0.8567438977
21103668         4994  2017-05-26  2850.000000     1.0000000000  0.8567438977
21103669         4994  2017-05-25  2866.000000     1.0000000000  0.8567438977
21103670         4994  2017-05-24  2874.000000     1.0000000000  0.8567438977

[21103671 rows x 5 columns]

In [7]:
path2 = 'C:/Users/Yoojiyoung/OneDrive - 경희대학교/market2.parquet'
df2 = pd.read_parquet(path2)
df2.drop(lst, axis=1, inplace=True)
df2

         tickerSymbol pricingDate   priceClose adjustmentFactor  divAdjFactor
21103671         4994  2017-05-23  2893.000000     1.0000000000  0.8567438977
21103672         4994  2017-05-22  2888.000000     1.0000000000  0.8567438977
21103673         4994  2017-05-19  2877.000000     1.0000000000  0.8567438977
21103674         4994  2017-05-18  2884.000000     1.0000000000  0.8567438977
21103675         4994  2017-05-17  2919.000000     1.0000000000  0.8567438977
...               ...         ...          ...              ...           ...
42207337         3521  2021-07-13    11.650000     1.0000000000  1.0000000000
42207338         3521  2021-07-12    11.700000     1.0000000000  1.0000000000
42207339         3521  2021-07-09    11.800000     1.0000000000  1.0000000000
42207340         3521  2021-07-08    12.000000     1.0000000000  1.0000000000
42207341         3521  2021-07-07    12.000000     1.0000000000  1.0000000000

[21103671 rows x 5 columns]

In [8]:
path3 = 'C:/Users/Yoojiyoung/OneDrive - 경희대학교/market3.parquet'
df3 = pd.read_parquet(path3)
df3.drop(lst, axis=1, inplace=True)
df3

         tickerSymbol pricingDate priceClose adjustmentFactor  divAdjFactor
42207342         3521  2021-07-06  11.950000     1.0000000000  1.0000000000
42207343         3521  2021-07-05  11.950000     1.0000000000  1.0000000000
42207344         3521  2021-07-02  12.000000     1.0000000000  1.0000000000
42207345         3521  2021-07-01  11.900000     1.0000000000  1.0000000000
42207346         3521  2021-06-30  12.050000     1.0000000000  1.0000000000
...               ...         ...        ...              ...           ...
63311008        YAYLA  2018-01-05   1.910000     1.0000000000  0.5468938848
63311009        YAYLA  2018-01-04   1.910000     1.0000000000  0.5468938848
63311010        YAYLA  2018-01-03   1.900000     1.0000000000  0.5468938848
63311011        YAYLA  2018-01-02   1.900000     1.0000000000  0.5468938848
63311012        YAYLA  2017-12-29   1.910000     1.0000000000  0.5468938848

[21103671 rows x 5 columns]

In [9]:
path4 = 'C:/Users/Yoojiyoung/OneDrive - 경희대학교/market4.parquet'
df4 = pd.read_parquet(path4)
df4.drop(lst, axis=1, inplace=True)
df4

         tickerSymbol pricingDate priceClose adjustmentFactor  divAdjFactor
63311013        YAYLA  2017-12-28   1.900000     1.0000000000  0.5468938848
63311014        YAYLA  2017-12-27   1.900000     1.0000000000  0.5468938848
63311015        YAYLA  2017-12-26   1.910000     1.0000000000  0.5468938848
63311016        YAYLA  2017-12-25   1.920000     1.0000000000  0.5468938848
63311017        YAYLA  2017-12-22   1.900000     1.0000000000  0.5468938848
...               ...         ...        ...              ...           ...
84414680         BAMG  2023-09-28  25.331500     1.0000000000          None
84414681         BAMG  2023-09-27  25.038600     1.0000000000          None
84414682    SENSEXETF  2023-10-10  66.300000     1.0000000000          None
84414683    SENSEXETF  2023-10-09  65.100000     1.0000000000          None
84414684    SENSEXETF  2023-10-06  66.330000     1.0000000000          None

[21103672 rows x 5 columns]

In [10]:
# 데이터프레임 합치기
mkt = pd.concat([df1, df2, df3, df4])

# 기존 데이터프레임 삭제
del df1, df2, df3, df4

In [11]:
mkt

         tickerSymbol pricingDate priceClose adjustmentFactor  divAdjFactor
0                 III  2023-10-10  20.540000     1.0000000000  1.0000000000
1                 III  2023-10-09  19.995000     1.0000000000  1.0000000000
2                 III  2023-10-06  20.160000     1.0000000000  1.0000000000
3                 III  2023-10-05  20.080000     1.0000000000  1.0000000000
4                 III  2023-10-04  19.825000     1.0000000000  1.0000000000
...               ...         ...        ...              ...           ...
84414680         BAMG  2023-09-28  25.331500     1.0000000000          None
84414681         BAMG  2023-09-27  25.038600     1.0000000000          None
84414682    SENSEXETF  2023-10-10  66.300000     1.0000000000          None
84414683    SENSEXETF  2023-10-09  65.100000     1.0000000000          None
84414684    SENSEXETF  2023-10-06  66.330000     1.0000000000          None

[84414685 rows x 5 columns]

In [12]:
mkt_symbol = list(mkt['tickerSymbol'].unique())
mkt_symbol  # market data에 있는 티커

['III',
 'ABBN',
 'ALB',
 'ALL',
 'AGI',
 'AMZN',
 'ACAS',
 'APO',
 'AVL',
 'BHI',
 'BANF',
 'BAC',
 'BMO',
 'TFC',
 'CDI',
 'CSWC',
 'CAPMAN',
 'CPEN',
 'CHTR',
 'CSCO',
 'FFP',
 'SCB',
 'DBAN',
 'SSP',
 'EQS',
 'ESFO.F',
 'AIML',
 'AAIC',
 'FNGN',
 'TGNA',
 'TURN',
 'HRC',
 'HLI',
 'INTC',
 'CCRD',
 'ICP',
 'IER1',
 'MECK',
 'INTU',
 'INVCORP',
 '8518',
 'KKR',
 '6971',
 'SPGI',
 'MFIN',
 'MSFT',
 'NBK',
 'ONEX',
 'ORCL',
 'MCOV B',
 'GROW',
 'RAND',
 'RJF',
 'ROP',
 'SFE',
 '8053',
 'GLE',
 '9984',
 '6758',
 'S44',
 'CRBG',
 'TROW',
 'CG',
 'HO',
 'TD',
 'WEN',
 'WPC',
 'FLWS',
 'RAMI',
 'VCEL',
 'ABAX',
 'ACOR',
 'PX',
 'ACUS',
 'RAMP',
 'SXCL',
 'NSP',
 'ADBE',
 'AAP',
 'WMS',
 'INVA',
 'HRTX',
 'AVGG',
 'AEHR',
 'PLKI',
 'AMG',
 'HTH',
 'AIRM',
 'MIMO',
 'AKAM',
 'AKSY',
 'ALG',
 '328',
 'ALGN',
 'ALKS',
 'BFH',
 'AHPI.Q',
 'ALLT',
 'ATGN',
 'DOX',
 'TWX',
 'AXL',
 None,
 'AMT',
 'ARC',
 'EP',
 'AMSF',
 'COR',
 'AMGN',
 'AMN',
 'APH',
 'HCKT',
 'ANSS',
 'AAPL',
 'AMCC',
 'APR',
 'ARDM.Q',
 'ARNA',
 'BTNY',
 'ARIA',
 'ARCB',
 'ARQL',
 'ARRY',
 'ARTD',
 'ABG',
 'MYDP',
 'AZPN',
 '2357',
 'ATHX',
 'ATPL',
 'ECOM',
 'AUDC',
 'LNW',
 'AZO',
 'AVXT',
 'AVID',
 'BLDP',
 'SIG',
 'BEAV',
 'DIV',
 'BSY',
 'NDVR',
 'NOTV',
 'BGCC',
 'BCRX',
 'BMRN',
 'CASC',
 'LCTX',
 'BBOX',
 'BEI.UN',
 'BOJA',
 'BWA',
 'ALSE',
 'BYDC',
 'BFAM',
 'BTSR',
 'BMY',
 'BSFT',
 'BVSN.Q',
 'BRCD',
 'BSQR',
 'CAB',
 'ATUS',
 'CDNS',
 'MODG',
 'CALD',
 'LFEV',
 'CNDL',
 'CGRN.Q',
 'LIFE',
 'EKG',
 'ASNB',
 'CSUD3',
 'CMH',
 'CWST',
 '138',
 'CGIP',
 'CLS',
 'CTIC',
 'CAR',
 'CAU',
 'CNC',
 'CPSH',
 'CERS',
 'IDG',
 'CHKP',
 'CMG',
 'CYX',
 'CICN',
 'CIEN',
 'AWH',
 'FLEX',
 'CRUS',
 'CFIN',
 'CTXS',
 'CLH',
 'STCN',
 'BVWN',
 'KO',
 'CGNX',
 'ALCOI',
 'UCTN',
 'COMM',
 'CYRN.Q',
 'CYH',
 'CVLT',
 'CCC',
 'CAG',
 'CXO',
 'BIG',
 'NBB',
 'CPRT',
 'COSI.Q',
 'PRMW',
 'CRIS',
 'C76',
 'CCRN',
 'CRSS',
 'CCI',
 'CCK',
 'AORT',
 'CSGS',
 'CMLS',
 'LIVN',
 'CYBERTECH',
 'CYNO',
 'CY',
 'SWWI',
 'CYTK',
 'UNVO',
 '530825',
 'DLT',
 'TRUA',
 'DAIO',
 'DWCH',
 'DGEN',
 'DEN',
 'XRAY',
 'PCRX',
 'DSCI',
 'DVO',
 'ATGE',
 'DKS',
 'STRR',
 'WINT',
 'DLTR',
 'DSPG',
 'DST',
 'DNB',
 'DRRX',
 'ETFC',
 'HSTG',
 'ELNK',
 'DGI',
 'DHX',
 'EBAY',
 'ELON',
 'EDAP',
 'EDN',
 'EDMC.Q',
 'EGAN',
 'EHTH',
 'EA',
 'EFII',
 'ELIS',
 'ELLI',
 'ELXS',
 'EME',
 'EMKR',
 'EMMS',
 'ENTEL',
 'WIRE',
 'ENDP.Q',
 'SNGX',
 'ETCC',
 'EQIX',
 'EQR',
 'ERGN',
 'EKSN',
 'ESMC',
 'ZVLO',
 'ESPR',
 'ETD',
 'EEFT',
 'ESCC',
 'ETIC',
 'EVOL',
 'EXA',
 'EXAS',
 'EXEL',
 'EXTC',
 'EXTR',
 'CSTI',
 'FMSA',
 '000636',
 'FGEN',
 'FNJN',
 'F17',
 'FDC',
 'DENN',
 'AVDL',
 '500148',
 'FLXI',
 'FMC',
 'FORM',
 'ECGP',
 'BEN',
 'FCN',
 'FLT',
 'GK',
 'CORC',
 'GAW',
 'HOME',
 'GEBN',
 'ORXE',
 'BLUE',
 'INO',
 'GNVC',
 'GIGA',
 'GILD',
 'GKN',
 'EDCI',
 'GOOGL',
 'GGG',
 'GRRP',
 'GLDD',
 'GFNORTE O',
 'MINSA B',
 'RCENTRO A',
 '53',
 'HERC',
 'HNRG',
 'ACUR',
 'HNGR',
 'HAR',
 'HLIT',
 'HAYN',
 'HMSY',
 'WBMD',
 'EHC',
 'HEMA',
 'MLKN',
 'HSKA',
 'HIBB',
 'HLT',
 'HST',
 'HWCC',
 'HUM',
 'V9Z',
 'ICFI',
 'BIIB',
 'IEX',
 'IDXX',
 'IDT',
 'ILMN',
 'DFCO',
 'IMAX',
 'ICCC',
 'IMGN',
 'PYCF.F',
 'INOW',
 'NKTR',
 'ISSC',
 'TMH',
 'VMX',
 'INSM',
 'IAA',
 'IART',
 'RATE',
 'IREP',
 'IIP',
 'DIN',
 'ISHA',
 'ITRK',
 'ILG',
 'IVAC',
 'IL',
 'ISRG',
 'IPAS',
 'IRIX',
 'IRM',
 'IONS',
 'ITRI',
 'SCNT.Q',
 'JCDA.F',
 'IMWL',
 'SK3',
 'FXJ',
 'RAIL',
 'JNPR',
 'KMAZ',
 'SWKH',
 'KSU',
 'KEM',
 'KW',
 'KIRK',
 'KNL',
 'KOPN',
 'LJPC',
 'LH',
 'LRCX',
 'LFCR',
 'LSTR',
 'STRM',
 'LEA',
 'TLF',
 'LEG',
 'LEN',
 'LVLT',
 'LEVI',
 'LXRX',
 'GCI',
 'QRTE.A',
 'FRG',
 'LGND',
 'LLTC',
 'LIOX',
 'ACNI',
 'LGF.A',
 'LTHU.Q',
 'LPSN',
 'RENT3',
 'LKST',
 'GSTY',
 'MAXR',
 'CVO',
 'MASTEEL',
 'ELS',
 'MARR',
 'MAR',
 'MLM',
 'MRVL',
 'MASI',
 'MTRX',
 'MAT',
 'MXTS.F',
 'MDG1',
 'MDT',
 'MENT',
 'ARGS.Q',
 'CBAY',
 'MTLK',
 'MTD',
 'HWDN',
 'MHM',
 'IRWD',
 'MBX',
 'MCHP',
 '2314',
 'PLUS',
 'TIGO',
 'MHK',
 'SCTY.Q',
 'MOSY',
 'MORN',
 'LUV',
 'DEST.Q',
 'MUEL',
 'MYGN',
 'NANX',
 'AME',
 'NHC',
 'NOV',
 'LMSC',
 'NTUS',
 'CNR',
 '6701',
 'NMGC',
 'NESN',
 'SIDG.Q',
 'NFLX',
 'NETO',
 'NTCT',
 'NTAP',
 '524558',
 'NBIX',
 'NURO',
 'NFX',
 'NICE',
 '500302',
 'NVEC',
 'JWN',
 'NTIC',
 'NPNT.Q',
 'INSG',
 'NUVA',
 'NVDA',
 '584',
 'ODP',
 'OLH',
 'OMER',
 'OMCL',
 'OMTL',
 'ASGN',
 'ONVI',
 'VSMD',
 'OPMC',
 'OFIX',
 'ORTI B',
 'OI',
 'RDDC',
 'SSI',
 'PTN',
 'PTC',
 'PRXL',
 'PAQ3',
 'PK',
 'PDFS',
 'BTU',
 'PJBUMI',
 'PIP',
 'PEP',
 'PRCP',
 'NIHK',
 'PHARM',
 'IBIO',
 '2318',
 'PXLW',
 'POLY',
 'POSC',
 'POWI',
 'PRAH',
 'BKNG',
 'VATE',
 'PG',
 'PRGS',
 'PGR',
 'ADT',
 'MODV',
 'PUB',
 'QMED',
 'QGEN',
 'QSYS.Q',
 'QDLC',
 'QCOM',
 'PWR',
 'MEET',
 'QUIK',
 'UONE.K',
 'RDWR',
 'VCTL',
 'RMBS',
 'RAP1V',
 'SPB',
 'RNWK',
 'RHT',
 'BREW',
 'REDF.Y',
 'RGC',
 'RGBO.Q',
 'REGN',
 'TSQ',
 'RNR',
 'UPBD',
 'RGEN',
 'RH',
 'HYDN',
 'REV',
 'QRVO',
 'RIGL',
 'GPK',
 'WRK',
 'ROST',
 'ONTO',
 'R',
 '1910',
 'SANM',
 'SBAC',
 'SCHW',
 'SCIL',
 'INVE',
 'POOL',
 'SGEN',
 'SNBR',
 'DTRM',
 'SENS',
 'SHOR',
 'SPG',
 'TXAR',
 'SW',
 'SLGN',
 'SLAB',
 'MCIM',
 'SINA',
 '502742',
 'SOFT',
 'SOW',
 'AAPJ',
 'ECTE',
 'RBBN',
 'SEDN',
 'LORL',
 'ASTC',
 'STRI',
 'EDT',
 'SPNC',
 'GTHP',
 'BOOM',
 'SPSC',
 'SSNC',
 'STMP',
 'STLY',
 'SPLS',
 'SBUX',
 'STLD',
 'STXS',
 'SRCL',
 'SHC',
 'STE',
 'BLDR',
 'SSYS',
 'SDOI',
 'DF',
 'SNSS',
 'AMSC',
 'SPRT',
 'LAUR',
 'GEN',
 'RMGN',
 'SYNA',
 'SNPS',
 '5902',
 'TBAC.Q',
 'ARMP',
 'TARO',
 'TSCC',
 'TLLE.Q',
 'TEN',
 'TTI',
 'TXT',
 '3K-BAT',
 'AES',
 'PLCE',
 'DSG',
 'MGLG',
 'SAG',
 'XOXO',
 'CRTN',
 'MDCO',
 'PRGX',
 'THMO',
 'TST',
 'THG',
 'TDW',
 'TIF',
 'TWI',
 'TTNP',
 'DVA',
 'QUSA',
 'TOWR',
 'CLUB.Q',
 'ACIW',
 'TGI',
 'TUEM.Q',
 'ITSJ.F',
 '3042',
 'USPE',
 'EAF',
 'ULTA',
 'ULTI',
 'UTEK',
 'URI',
 'ESND',
 'UTHR',
 'UAM',
 'UEIC',
 'UHS',
 'UTI',
 'ULGX',
 'USDC',
 'LEU',
 'USG',
 'MTN',
 'VTI',
 '710',
 'VASC',
 'V03',
 'PAY',
 'VRSN',
 'VRTX',
 'VWS',
 'BBI',
 'VCT',
 'VVUS.Q',
 'SMRL',
 'ASUR',
 'WAB',
 'WLT',
 'COOP',
 'WAT',
 'AGN',
 'WCIC',
 'WEB',
 'WMAR',
 'PROX.Q',
 'WFM',
 'WG',
 'WTW',
 'ITGR',
 'KTOS',
 'WRLD',
 'WAXS',
 'WEX',
 'WMGI',
 'XLNX',
 'XOMA',
 'XTLB',
 'RPRX',
 'IWKS',
 'SCHL',
 'SOFO',
 'BEEN',
 'IP',
 'SXP',
 'GTLL',
 'KSS',
 'NATH',
 'CLX',
 'LTWC',
 '2491',
 '2419',
 'FFIV',
 'SLNM',
 'ISSM',
 'HSTM',
 'LVWD',
 'TFCF.A',
 'CRL',
 'TREE',
 'FNSR',
 'ABRA',
 'SOM',
 'CA',
 'GHC',
 'TLS',
 'HYSG',
 'IGOI',
 'RRD',
 'LBTA',
 'SFLY',
 '8031',
 'A005930',
 'AXP',
 '9424',
 'TMXL.F',
 'GFINBUR O',
 'GPIV33',
 'AVTA',
 'RDVW.F',
 'ENVG',
 'IHRT',
 'ADS',
 'COST',
 '214',
 'GNMK',
 'SCON.D',
 'HLX',
 'RRC',
 'CLRN',
 'BGC',
 'TTMI',
 'NILE',
 'TMUS',
 'KODK',
 'CMTX',
 'CACI',
 'ALVR.Q',
 'VANTI',
 'IMMR',
 'BHNY',
 'RITT',
 'ENEL',
 'CLCT',
 'TXCC.Q',
 'LLL',
 'ELLO',
 'CNO',
 'RAD',
 'WBA',
 'CVS',
 'WSTM',
 'PFSW',
 'ONTF',
 'SIM',
 'NR',
 'IO',
 'OIS',
 'SIRI',
 'IG',
 'RSYS',
 'TESS',
 'XAR',
 'SRSN',
 'SWG',
 'HAE',
 'SYK',
 'TER',
 'LAYN',
 'OII',
 'BOLS',
 'WMH',
 'CAS',
 'SEMC',
 'BBED',
 'EAS2P',
 '544',
 'BAI',
 '5432',
 '2458',
 '5398',
 'IENT',
 'INBK',
 'NXRA',
 'EZEN',
 'MXIM',
 'JBL',
 'VIAV',
 'EGOV',
 'OMC',
 'WTFC',
 'EVRC',
 'FUN',
 'TMO',
 'NOC',
 'MAXW',
 'GIMB',
 'SN.',
 'RGP',
 'BLKB',
 '93',
 'MOST.Q',
 'AIM',
 'CCOI',
 'MDP',
 'TDC',
 'ATRM',
 'MODT.Q',
 'UTSI',
 'CVX',
 'ATLN',
 'SITE',
 'HSY',
 'WIN',
 'RUTH',
 'PKG',
 'PARR',
 'MSI',
 'GIGM',
 'CUTR',
 'VNTN',
 'MVC',
 'NDA SE',
 'MALEE',
 'T',
 'AVA',
 'FIX',
 'PCOA',
 'LOV',
 'VES',
 'HDFCBANK',
 'TISCO',
 'PLXS',
 'WDDD',
 'PRXM',
 'BLU',
 'TCS',
 'SLFF.F',
 'MTNX',
 'CCU',
 '168',
 'ALIF',
 'BWLD',
 'BAYN',
 'N7G',
 'XRX',
 'BDX',
 'IMBI.Q',
 'EQ',
 'UNH',
 '1049',
 'TCHL',
 'RVUE',
 'CSU',
 'AMP',
 'AXR',
 '282',
 'ENAB',
 'IFX',
 'WCG',
 'RTN',
 'EMCO',
 'LOTUS',
 'FEIF.F',
 'TRANSI',
 'LION',
 'F',
 '8044',
 'ISIL',
 'BHIP',
 'JBLU',
 'MBG',
 'VONN',
 '8',
 'CFVF.N0000',
 'DHI',
 'SAVA',
 'WY',
 'AMBT.Q',
 'THC',
 'ATHN',
 'QBT',
 'MSM',
 'WBS',
 'HOLX',
 'IPG',
 'ASNS',
 'ISE',
 '2332',
 '3704',
 'UNISEM',
 '2417',
 '2331',
 '2365',
 '000541',
 '000921',
 '200418',
 '5315',
 'MCP',
 'MATR',
 'OTEX',
 'HPQ',
 'MERR',
 'EMN',
 'NEOM',
 'ART',
 'SJR.B',
 'MKTX',
 'CYRD',
 'TISU.Q',
 'RY',
 'MRGN',
 'A071460',
 'DISH',
 'MVCO',
 'NOVE',
 '2387',
 'CNXR',
 'LDOS',
 '2150',
 'ALADO',
 'ICU',
 'IMCI',
 '8303',
 'MDF',
 'SOHU',
 'MNDO',
 'ACCR',
 'EIGI',
 'AN',
 'BLIA.Q',
 'IBM',
 'Z74',
 '315',
 'PYPL',
 'WOOF',
 'GHL',
 'IVFZ.F',
 '900945',
 'MLNX',
 'DXCM',
 'GRCA',
 'NXTM',
 'S7OU',
 'XCOM.Q',
 'GOG',
 'AON',
 'ADSK',
 'ALMC',
 'ACHN',
 'TOHN',
 'SP',
 'GSVI',
 'CIW',
 'VIV',
 'RP',
 'SGRZ',
 'BEAT',
 'SRE',
 'SO',
 'WWRL',
 'MB',
 'WED',
 'RRRI',
 'FPWM',
 'CS',
 'DGCR.F',
 'IBT',
 'APS',
 'MRTX',
 'GIB.A',
 ...]

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_table = pd.read_html(url, header=0)[0]
tickers = sp500_table['Symbol'].tolist()
tickers, len(tickers)  # S&P500 구성종목 티커

(['MMM',
  'AOS',
  'ABT',
  'ABBV',
  'ACN',
  'ADM',
  'ADBE',
  'ADP',
  'AES',
  'AFL',
  'A',
  'ABNB',
  'APD',
  'AKAM',
  'ALK',
  'ALB',
  'ARE',
  'ALGN',
  'ALLE',
  'LNT',
  'ALL',
  'GOOGL',
  'GOOG',
  'MO',
  'AMZN',
  'AMCR',
  'AMD',
  'AEE',
  'AAL',
  'AEP',
  'AXP',
  'AIG',
  'AMT',
  'AWK',
  'AMP',
  'AME',
  'AMGN',
  'APH',
  'ADI',
  'ANSS',
  'AON',
  'APA',
  'AAPL',
  'AMAT',
  'APTV',
  'ACGL',
  'ANET',
  'AJG',
  'AIZ',
  'T',
  'ATO',
  'ADSK',
  'AZO',
  'AVB',
  'AVY',
  'AXON',
  'BKR',
  'BALL',
  'BAC',
  'BBWI',
  'BAX',
  'BDX',
  'WRB',
  'BRK.B',
  'BBY',
  'BIO',
  'TECH',
  'BIIB',
  'BLK',
  'BX',
  'BK',
  'BA',
  'BKNG',
  'BWA',
  'BXP',
  'BSX',
  'BMY',
  'AVGO',
  'BR',
  'BRO',
  'BF.B',
  'BG',
  'CHRW',
  'CDNS',
  'CZR',
  'CPT',
  'CPB',
  'COF',
  'CAH',
  'KMX',
  'CCL',
  'CARR',
  'CTLT',
  'CAT',
  'CBOE',
  'CBRE',
  'CDW',
  'CE',
  'COR',
  'CNC',
  'CNP',
  'CDAY',
  'CF',
  'CRL',
  'SCHW',
  'CHTR',
  'CVX',
  'CMG',
  'CB',
  'CHD',
  'CI',
  'CINF',
  'CTAS',
  'CSCO',
  'C',
  'CFG',
  'CLX',
  'CME',
  'CMS',
  'KO',
  'CTSH',
  'CL',
  'CMCSA',
  'CMA',
  'CAG',
  'COP',
  'ED',
  'STZ',
  'CEG',
  'COO',
  'CPRT',
  'GLW',
  'CTVA',
  'CSGP',
  'COST',
  'CTRA',
  'CCI',
  'CSX',
  'CMI',
  'CVS',
  'DHI',
  'DHR',
  'DRI',
  'DVA',
  'DE',
  'DAL',
  'XRAY',
  'DVN',
  'DXCM',
  'FANG',
  'DLR',
  'DFS',
  'DIS',
  'DG',
  'DLTR',
  'D',
  'DPZ',
  'DOV',
  'DOW',
  'DTE',
  'DUK',
  'DD',
  'EMN',
  'ETN',
  'EBAY',
  'ECL',
  'EIX',
  'EW',
  'EA',
  'ELV',
  'LLY',
  'EMR',
  'ENPH',
  'ETR',
  'EOG',
  'EPAM',
  'EQT',
  'EFX',
  'EQIX',
  'EQR',
  'ESS',
  'EL',
  'ETSY',
  'EG',
  'EVRG',
  'ES',
  'EXC',
  'EXPE',
  'EXPD',
  'EXR',
  'XOM',
  'FFIV',
  'FDS',
  'FICO',
  'FAST',
  'FRT',
  'FDX',
  'FITB',
  'FSLR',
  'FE',
  'FIS',
  'FI',
  'FLT',
  'FMC',
  'F',
  'FTNT',
  'FTV',
  'FOXA',
  'FOX',
  'BEN',
  'FCX',
  'GRMN',
  'IT',
  'GEHC',
  'GEN',
  'GNRC',
  'GD',
  'GE',
  'GIS',
  'GM',
  'GPC',
  'GILD',
  'GL',
  'GPN',
  'GS',
  'HAL',
  'HIG',
  'HAS',
  'HCA',
  'PEAK',
  'HSIC',
  'HSY',
  'HES',
  'HPE',
  'HLT',
  'HOLX',
  'HD',
  'HON',
  'HRL',
  'HST',
  'HWM',
  'HPQ',
  'HUBB',
  'HUM',
  'HBAN',
  'HII',
  'IBM',
  'IEX',
  'IDXX',
  'ITW',
  'ILMN',
  'INCY',
  'IR',
  'PODD',
  'INTC',
  'ICE',
  'IFF',
  'IP',
  'IPG',
  'INTU',
  'ISRG',
  'IVZ',
  'INVH',
  'IQV',
  'IRM',
  'JBHT',
  'JKHY',
  'J',
  'JNJ',
  'JCI',
  'JPM',
  'JNPR',
  'K',
  'KVUE',
  'KDP',
  'KEY',
  'KEYS',
  'KMB',
  'KIM',
  'KMI',
  'KLAC',
  'KHC',
  'KR',
  'LHX',
  'LH',
  'LRCX',
  'LW',
  'LVS',
  'LDOS',
  'LEN',
  'LIN',
  'LYV',
  'LKQ',
  'LMT',
  'L',
  'LOW',
  'LULU',
  'LYB',
  'MTB',
  'MRO',
  'MPC',
  'MKTX',
  'MAR',
  'MMC',
  'MLM',
  'MAS',
  'MA',
  'MTCH',
  'MKC',
  'MCD',
  'MCK',
  'MDT',
  'MRK',
  'META',
  'MET',
  'MTD',
  'MGM',
  'MCHP',
  'MU',
  'MSFT',
  'MAA',
  'MRNA',
  'MHK',
  'MOH',
  'TAP',
  'MDLZ',
  'MPWR',
  'MNST',
  'MCO',
  'MS',
  'MOS',
  'MSI',
  'MSCI',
  'NDAQ',
  'NTAP',
  'NFLX',
  'NEM',
  'NWSA',
  'NWS',
  'NEE',
  'NKE',
  'NI',
  'NDSN',
  'NSC',
  'NTRS',
  'NOC',
  'NCLH',
  'NRG',
  'NUE',
  'NVDA',
  'NVR',
  'NXPI',
  'ORLY',
  'OXY',
  'ODFL',
  'OMC',
  'ON',
  'OKE',
  'ORCL',
  'OTIS',
  'PCAR',
  'PKG',
  'PANW',
  'PARA',
  'PH',
  'PAYX',
  'PAYC',
  'PYPL',
  'PNR',
  'PEP',
  'PFE',
  'PCG',
  'PM',
  'PSX',
  'PNW',
  'PXD',
  'PNC',
  'POOL',
  'PPG',
  'PPL',
  'PFG',
  'PG',
  'PGR',
  'PLD',
  'PRU',
  'PEG',
  'PTC',
  'PSA',
  'PHM',
  'QRVO',
  'PWR',
  'QCOM',
  'DGX',
  'RL',
  'RJF',
  'RTX',
  'O',
  'REG',
  'REGN',
  'RF',
  'RSG',
  'RMD',
  'RVTY',
  'RHI',
  'ROK',
  'ROL',
  'ROP',
  'ROST',
  'RCL',
  'SPGI',
  'CRM',
  'SBAC',
  'SLB',
  'STX',
  'SEE',
  'SRE',
  'NOW',
  'SHW',
  'SPG',
  'SWKS',
  'SJM',
  'SNA',
  'SEDG',
  'SO',
  'LUV',
  'SWK',
  'SBUX',
  'STT',
  'STLD',
  'STE',
  'SYK',
  'SYF',
  'SNPS',
  'SYY',
  'TMUS',
  'TROW',
  'TTWO',
  'TPR',
  'TRGP',
  'TGT',
  'TEL',
  'TDY',
  'TFX',
  'TER',
  'TSLA',
  'TXN',
  'TXT',
  'TMO',
  'TJX',
  'TSCO',
  'TT',
  'TDG',
  'TRV',
  'TRMB',
  'TFC',
  'TYL',
  'TSN',
  'USB',
  'UDR',
  'ULTA',
  'UNP',
  'UAL',
  'UPS',
  'URI',
  'UNH',
  'UHS',
  'VLO',
  'VTR',
  'VLTO',
  'VRSN',
  'VRSK',
  'VZ',
  'VRTX',
  'VFC',
  'VTRS',
  'VICI',
  'V',
  'VMC',
  'WAB',
  'WBA',
  'WMT',
  'WBD',
  'WM',
  'WAT',
  'WEC',
  'WFC',
  'WELL',
  'WST',
  'WDC',
  'WRK',
  'WY',
  'WHR',
  'WMB',
  'WTW',
  'GWW',
  'WYNN',
  'XEL',
  'XYL',
  'YUM',
  'ZBRA',
  'ZBH',
  'ZION',
  'ZTS'],
 503)

In [14]:
# 두 리스트를 집합으로 변환하고 교집합을 구함
intersection = list(set(tickers) & set(mkt_symbol))

# 결과 출력
intersection, len(intersection)

(['NWSA',
  'EMN',
  'FI',
  'CRL',
  'COF',
  'EQR',
  'MSI',
  'ARE',
  'KMI',
  'INVH',
  'PAYC',
  'NOC',
  'CF',
  'AJG',
  'ACGL',
  'HBAN',
  'UNP',
  'LEN',
  'EXR',
  'KR',
  'QCOM',
  'GM',
  'CPRT',
  'TAP',
  'TJX',
  'NCLH',
  'CHD',
  'PYPL',
  'DOW',
  'CMI',
  'BKR',
  'REGN',
  'KVUE',
  'CARR',
  'ZBRA',
  'FMC',
  'CSGP',
  'FANG',
  'O',
  'VTRS',
  'BF.B',
  'DE',
  'NEM',
  'ADI',
  'SPGI',
  'V',
  'BBY',
  'ROK',
  'AZO',
  'ANSS',
  'TMO',
  'ILMN',
  'ADP',
  'LMT',
  'WBA',
  'TFX',
  'ELV',
  'PAYX',
  'DRI',
  'PHM',
  'CDNS',
  'ZTS',
  'ANET',
  'LYB',
  'GILD',
  'BA',
  'KMX',
  'CTLT',
  'PPL',
  'ZION',
  'STE',
  'KIM',
  'NFLX',
  'MSCI',
  'PEAK',
  'ADSK',
  'BK',
  'CHRW',
  'MPWR',
  'LVS',
  'DPZ',
  'IEX',
  'CFG',
  'EG',
  'INCY',
  'MCO',
  'MDT',
  'CTRA',
  'GE',
  'CRM',
  'LW',
  'XEL',
  'DFS',
  'HOLX',
  'LNT',
  'MET',
  'MTB',
  'BWA',
  'HUM',
  'BAX',
  'NXPI',
  'OXY',
  'CDW',
  'PGR',
  'VTR',
  'SYK',
  'TECH',
  'EXPD',
  'DHI',
  'FCX',
  'HSIC',
  'CB',
  'PARA',
  'LOW',
  'META',
  'AVGO',
  'TXT',
  'HII',
  'GNRC',
  'CVS',
  'GEN',
  'GL',
  'GPC',
  'SHW',
  'CI',
  'GRMN',
  'PG',
  'DLTR',
  'JPM',
  'TROW',
  'AMZN',
  'HCA',
  'INTU',
  'PANW',
  'MSFT',
  'L',
  'MMC',
  'SBAC',
  'AVB',
  'HLT',
  'TSCO',
  'BLK',
  'KEYS',
  'RMD',
  'PFE',
  'CMCSA',
  'PSA',
  'TPR',
  'CAT',
  'CPT',
  'C',
  'CSCO',
  'DTE',
  'PM',
  'CNP',
  'JBHT',
  'CMG',
  'AMP',
  'FITB',
  'UNH',
  'MCHP',
  'GEHC',
  'TRGP',
  'SWKS',
  'SNA',
  'CVX',
  'ETR',
  'VFC',
  'DVN',
  'APH',
  'DLR',
  'BALL',
  'WAB',
  'ULTA',
  'CCI',
  'ETSY',
  'VMC',
  'FIS',
  'WFC',
  'SPG',
  'IR',
  'COR',
  'AOS',
  'SWK',
  'CINF',
  'NDSN',
  'LHX',
  'AIG',
  'USB',
  'UAL',
  'FRT',
  'LRCX',
  'BAC',
  'INTC',
  'WELL',
  'ITW',
  'CAG',
  'MCK',
  'NVR',
  'WHR',
  'APA',
  'AXON',
  'NKE',
  'ALGN',
  'KDP',
  'APTV',
  'RJF',
  'VICI',
  'CAH',
  'LDOS',
  'NEE',
  'HAS',
  'EXC',
  'F',
  'WMT',
  'MKC',
  'WDC',
  'EL',
  'VRTX',
  'MLM',
  'XRAY',
  'WEC',
  'AWK',
  'DOV',
  'BX',
  'EW',
  'HAL',
  'IPG',
  'DD',
  'DG',
  'PODD',
  'ABT',
  'CME',
  'AAL',
  'CCL',
  'AES',
  'LKQ',
  'BIO',
  'WM',
  'MPC',
  'PTC',
  'RTX',
  'LH',
  'MAA',
  'ATO',
  'SEDG',
  'CHTR',
  'GS',
  'ORLY',
  'HPQ',
  'OMC',
  'NI',
  'CE',
  'RSG',
  'TRMB',
  'AMT',
  'VLO',
  'MNST',
  'IFF',
  'CL',
  'URI',
  'VLTO',
  'BIIB',
  'HST',
  'LIN',
  'MOH',
  'TXN',
  'ON',
  'DAL',
  'RF',
  'BR',
  'IRM',
  'LUV',
  'MRO',
  'PWR',
  'FFIV',
  'T',
  'NSC',
  'MO',
  'SJM',
  'FE',
  'ABBV',
  'EFX',
  'FICO',
  'ECL',
  'STX',
  'PNC',
  'CTAS',
  'WTW',
  'ETN',
  'ACN',
  'ORCL',
  'GIS',
  'EXPE',
  'ZBH',
  'PRU',
  'FLT',
  'OKE',
  'GWW',
  'COP',
  'PH',
  'CPB',
  'EIX',
  'TDG',
  'GPN',
  'PLD',
  'MS',
  'NTAP',
  'AXP',
  'IQV',
  'BSX',
  'ICE',
  'CDAY',
  'NRG',
  'JNPR',
  'TDY',
  'REG',
  'MAS',
  'STLD',
  'ROL',
  'FTV',
  'MA',
  'FOXA',
  'MRK',
  'PCAR',
  'TER',
  'FSLR',
  'EBAY',
  'DGX',
  'WRB',
  'FOX',
  'HIG',
  'PSX',
  'BBWI',
  'EQT',
  'HSY',
  'MHK',
  'XOM',
  'NDAQ',
  'GOOGL',
  'SCHW',
  'CSX',
  'AFL',
  'ES',
  'SEE',
  'FDX',
  'RCL',
  'GLW',
  'HD',
  'TGT',
  'ROP',
  'IBM',
  'MGM',
  'CMS',
  'BXP',
  'PEG',
  'BG',
  'AMGN',
  'KEY',
  'TSN',
  'WMB',
  'J',
  'MAR',
  'KHC',
  'QRVO',
  'WRK',
  'PPG',
  'ISRG',
  'D',
  'A',
  'ENPH',
  'LULU',
  'NUE',
  'CMA',
  'MRNA',
  'HRL',
  'BEN',
  'EVRG',
  'LYV',
  'MDLZ',
  'ODFL',
  'OTIS',
  'MTD',
  'PNW',
  'NVDA',
  'MOS',
  'ALLE',
  'DIS',
  'YUM',
  'CTVA',
  'AMD',
  'SYF',
  'NTRS',
  'TFC',
  'STZ',
  'KMB',
  'MCD',
  'BKNG',
  'XYL',
  'VZ',
  'PCG',
  'IP',
  'SBUX',
  'EQIX',
  'CZR',
  'MKTX',
  'KLAC',
  'ADM',
  'K',
  'DXCM',
  'KO',
  'SRE',
  'ROST',
  'AON',
  'AIZ',
  'EOG',
  'JNJ',
  'DHR',
  'HUBB',
  'CNC',
  'TEL',
  'ALL',
  'ED',
  'CLX',
  'IVZ',
  'EMR',
  'MMM',
  'HON',
  'FTNT',
  'SNPS',
  'WBD',
  'CBRE',
  'AEE',
  'PNR',
  'TMUS',
  'UDR',
  'VRSN',
  'AAPL',
  'ABNB',
  'PXD',
  'SO',
  'EA',
  'WYNN',
  'WST',
  'TT',
  'STT',
  'CTSH',
  'PFG',
  'HPE',
  'AMCR',
  'IDXX',
  'ALK',
  'EPAM',
  'APD',
  'FAST',
  'TRV',
  'RL',
  'WAT',
  'BDX',
  'CEG',
  'MU',
  'JKHY',
  'BRO',
  'PKG',
  'DVA',
  'JCI',
  'HWM',
  'COO',
  'TTWO',
  'UPS',
  'AEP',
  'CBOE',
  'FDS',
  'ADBE',
  'ALB',
  'BMY',
  'MTCH',
  'AKAM',
  'COST',
  'HES',
  'AVY',
  'POOL',
  'VRSK',
  'UHS',
  'IT',
  'ESS',
  'TSLA',
  'TYL',
  'PEP',
  'NOW',
  'AMAT',
  'LLY',
  'GD',
  'SLB',
  'RHI',
  'DUK',
  'RVTY',
  'AME',
  'SYY',
  'WY'],
 500)

In [15]:
# mkt 데이터프레임에서 tickerSymbol이 intersection에 있는 행만 필터링
new_mkt = mkt[mkt['tickerSymbol'].isin(intersection)]
new_mkt

         tickerSymbol pricingDate  priceClose adjustmentFactor  divAdjFactor
3416              ALB  2023-10-10  162.080000     1.0000000000  1.0000000000
3417              ALB  2023-10-09  155.750000     1.0000000000  1.0000000000
3418              ALB  2023-10-06  159.840000     1.0000000000  1.0000000000
3419              ALB  2023-10-05  155.030000     1.0000000000  1.0000000000
3420              ALB  2023-10-04  158.400000     1.0000000000  1.0000000000
...               ...         ...         ...              ...           ...
84411783         VLTO  2023-10-03   77.050000     1.0000000000          None
84411784         VLTO  2023-10-02   85.120000     1.0000000000          None
84411785         VLTO  2023-09-29   84.560000     1.0000000000          None
84411786         VLTO  2023-09-28   84.650000     1.0000000000          None
84411787         VLTO  2023-09-27   80.600000     1.0000000000          None

[1492104 rows x 5 columns]

In [16]:
new_mkt['adjClose'] = new_mkt['priceClose'] * new_mkt['adjustmentFactor'] * new_mkt['divAdjFactor']
new_mkt

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_16924\3284611573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mkt['adjClose'] = new_mkt['priceClose'] * new_mkt['adjustmentFactor'] * new_mkt['divAdjFactor']

,tickerSymbol,pricingDate,priceClose,adjustmentFactor,divAdjFactor,adjClose
3416,ALB,2023-10-10,162.080000,1.0000000000,1.0000000000,162.0800000000000000000000000
3417,ALB,2023-10-09,155.750000,1.0000000000,1.0000000000,155.7500000000000000000000000
3418,ALB,2023-10-06,159.840000,1.0000000000,1.0000000000,159.8400000000000000000000000
3419,ALB,2023-10-05,155.030000,1.0000000000,1.0000000000,155.0300000000000000000000000
3420,ALB,2023-10-04,158.400000,1.0000000000,1.0000000000,158.4000000000000000000000000
...,...,...,...,...,...,...
84411783,VLTO,2023-10-03,77.050000,1.0000000000,None,NaN
84411784,VLTO,2023-10-02,85.120000,1.0000000000,None,NaN
84411785,VLTO,2023-09-29,84.560000,1.0000000000,None,NaN
84411786,VLTO,2023-09-28,84.650000,1.0000000000,None,NaN
84411787,VLTO,2023-09-27,80.600000,1.0000000000,None,NaN

In [17]:
# divAdjFactor가 None에 해당하는 행 필터링 및 tickerSymbol 추출
none_divAdjFactor_tickers = new_mkt[new_mkt['divAdjFactor'].isnull()]['tickerSymbol']

# 결과 출력
set(none_divAdjFactor_tickers), len(set(none_divAdjFactor_tickers))

({'AAL',
  'ABNB',
  'ABT',
  'ADI',
  'AEP',
  'AIG',
  'ALK',
  'ALL',
  'AME',
  'ANET',
  'APA',
  'BDX',
  'BEN',
  'BG',
  'BIO',
  'BRO',
  'BSX',
  'C',
  'CAG',
  'CBRE',
  'CCI',
  'CDAY',
  'CEG',
  'CFG',
  'CHTR',
  'CL',
  'CME',
  'CMG',
  'CMI',
  'CMS',
  'CNC',
  'COP',
  'COR',
  'CSX',
  'CTLT',
  'CZR',
  'DAL',
  'DHR',
  'DVA',
  'DVN',
  'EFX',
  'EMN',
  'EQT',
  'ETR',
  'ETSY',
  'EW',
  'EXR',
  'F',
  'FAST',
  'FDX',
  'FLT',
  'FOX',
  'GEN',
  'GILD',
  'GIS',
  'GL',
  'GM',
  'HAL',
  'HOLX',
  'HST',
  'ICE',
  'INCY',
  'IP',
  'IPG',
  'IQV',
  'J',
  'KEYS',
  'KO',
  'LEN',
  'MAA',
  'META',
  'MGM',
  'MHK',
  'MLM',
  'MMC',
  'MMM',
  'MOH',
  'MOS',
  'MRNA',
  'MRO',
  'MTCH',
  'MTD',
  'NCLH',
  'NFLX',
  'NOC',
  'NOW',
  'NUE',
  'NVR',
  'ORCL',
  'PANW',
  'PCAR',
  'PEAK',
  'PEG',
  'PFE',
  'PKG',
  'PM',
  'PNW',
  'POOL',
  'PPG',
  'PSA',
  'PWR',
  'PYPL',
  'QRVO',
  'REG',
  'SEDG',
  'SLB',
  'SNPS',
  'SO',
  'SPG',
  'STE',
  'TDG',
  'TDY',
  'TECH',
  'TEL',
  'TFC',
  'TPR',
  'TRV',
  'TSLA',
  'TSN',
  'UHS',
  'ULTA',
  'VLTO',
  'VMC',
  'VRTX',
  'WAB',
  'WBD',
  'WELL',
  'YUM',
  'ZTS'},
 129)

In [18]:
new_mkt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1492104 entries, 3416 to 84411787
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   tickerSymbol      1492104 non-null  object
 1   pricingDate       1492104 non-null  datetime64[ns]
 2   priceClose        1491965 non-null  object
 3   adjustmentFactor  1492104 non-null  object
 4   divAdjFactor      1353778 non-null  object
 5   adjClose          1353707 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 79.7+ MB

In [19]:
# priceClose : 결측치를 어떻게 처리할지 ?
# divAdjFactor, adjClose 어떻게 처리해야할지 ?

# priceClose => 결측치 yfinance에서 가져와서 처리

In [25]:
new_mkt 

# 뒤에 3개 컬럼 빼
cols = ['adjustmentFactor', 'divAdjFactor', 'adjClose']
new_mkt.drop(cols, axis = 1, inplace=True)
new_mkt

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_16924\1246339527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mkt.drop(cols, axis = 1, inplace=True)

         tickerSymbol pricingDate  priceClose
3416              ALB  2023-10-10  162.080000
3417              ALB  2023-10-09  155.750000
3418              ALB  2023-10-06  159.840000
3419              ALB  2023-10-05  155.030000
3420              ALB  2023-10-04  158.400000
...               ...         ...         ...
84411783         VLTO  2023-10-03   77.050000
84411784         VLTO  2023-10-02   85.120000
84411785         VLTO  2023-09-29   84.560000
84411786         VLTO  2023-09-28   84.650000
84411787         VLTO  2023-09-27   80.600000

[1492104 rows x 3 columns]

In [26]:
new_mkt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1492104 entries, 3416 to 84411787
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   tickerSymbol  1492104 non-null  object
 1   pricingDate   1492104 non-null  datetime64[ns]
 2   priceClose    1491965 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 77.8+ MB

In [29]:
# 'priceClose' 컬럼에서 NaN 값을 찾습니다.
nan_rows = new_mkt[new_mkt['priceClose'].isna()]

# 결과를 출력합니다.
nan_rows

         tickerSymbol pricingDate priceClose
3318834            BR  2020-03-09       None
3318847            BR  2020-02-11       None
3318874            BR  2019-12-10       None
3318883            BR  2019-11-13       None
8135008           ICE  2020-02-27       None
...               ...         ...        ...
77460787          ETR  2020-01-15       None
77460826          ETR  2019-09-17       None
77460845          ETR  2019-08-14       None
77460861          ETR  2019-07-15       None
77460924          ETR  2019-03-11       None

[139 rows x 3 columns]

In [30]:
nan_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 3318834 to 77460924
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tickerSymbol  139 non-null    object
 1   pricingDate   139 non-null    datetime64[ns]
 2   priceClose    0 non-null      object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.3+ KB

In [32]:
import yfinance as yf


# nan 값을 수정 종가로 채우는 함수
def fill_nan_with_yfinance(nan_rows):
    # 수정된 종가를 저장할 리스트를 초기화합니다.
    adjusted_closes = []
    
    # nan_rows 데이터프레임의 각 행에 대해 반복합니다.
    for index, row in nan_rows.iterrows():
        ticker = row['tickerSymbol']
        date = row['pricingDate']
        # yfinance를 통해 해당 티커의 데이터를 가져옵니다.
        data = yf.download(ticker, start=date, end=pd.to_datetime(date) + pd.Timedelta(days=1))
        
        # 데이터가 비어 있지 않다면, 수정 종가를 가져와 리스트에 추가합니다.
        if not data.empty and 'Adj Close' in data.columns:
            adjusted_close = data['Adj Close'].iloc[0]
            adjusted_closes.append(adjusted_close)
        else:
            # 데이터가 없을 경우 None을 추가합니다.
            adjusted_closes.append(None)
    
    # nan_rows의 'priceClose' 컬럼에 수정 종가를 채워줍니다.
    nan_rows['priceClose'] = adjusted_closes
    return nan_rows

# 함수를 호출하여 NaN 값을 수정 종가로 채워줍니다.
filled_nan_rows = fill_nan_with_yfinance(nan_rows)
filled_nan_rows

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ICE']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2020-01-20 00:00:00 -> 2020-01-21 00:00:00)')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1584504000, endDate = 1584590400")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1577163600, endDate = 1577250000")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1576818000, endDate = 1576904400")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1575435600, endDate = 1575522000")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1573534800, endDate = 1573621200")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1571803200, endDate = 1571889600")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1564372800, endDate = 1564459200")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1558670400, endDate = 1558756800")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CEG']: Exception("%ticker%: Data doesn't exist for startDate = 1558584000, endDate = 1558670400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1551070800, endDate = 1551157200")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1548219600, endDate = 1548306000")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1546232400, endDate = 1546318800")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1544763600, endDate = 1544850000")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1543554000, endDate = 1543640400")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1538452800, endDate = 1538539200")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1537934400, endDate = 1538020800")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FOX']: Exception("%ticker%: Data doesn't exist for startDate = 1537848000, endDate = 1537934400")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_16924\2382187475.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows['priceClose'] = adjusted_closes

         tickerSymbol pricingDate  priceClose
3318834            BR  2020-03-09   85.699532
3318847            BR  2020-02-11  112.190331
3318874            BR  2019-12-10  113.165192
3318883            BR  2019-11-13  110.806793
8135008           ICE  2020-02-27   87.375099
...               ...         ...         ...
77460787          ETR  2020-01-15  106.367149
77460826          ETR  2019-09-17   97.605148
77460845          ETR  2019-08-14   91.243660
77460861          ETR  2019-07-15   88.638206
77460924          ETR  2019-03-11   78.690521

[139 rows x 3 columns]

In [33]:
filled_nan_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 3318834 to 77460924
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tickerSymbol  139 non-null    object
 1   pricingDate   139 non-null    datetime64[ns]
 2   priceClose    121 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 8.4+ KB

In [42]:
filled_nan_rows.loc[filled_nan_rows['priceClose'].isna()]

         tickerSymbol pricingDate  priceClose
8135025           ICE  2020-01-20         NaN
15941958          CEG  2020-03-18         NaN
15941971          CEG  2019-12-24         NaN
15941972          CEG  2019-12-20         NaN
15941973          CEG  2019-12-04         NaN
15941976          CEG  2019-11-12         NaN
15941979          CEG  2019-10-23         NaN
15942001          CEG  2019-07-29         NaN
15942015          CEG  2019-05-24         NaN
15942016          CEG  2019-05-23         NaN
71442749          FOX  2019-02-25         NaN
71442758          FOX  2019-01-23         NaN
71442764          FOX  2018-12-31         NaN
71442770          FOX  2018-12-14         NaN
71442776          FOX  2018-11-30         NaN
71442798          FOX  2018-10-02         NaN
71442801          FOX  2018-09-26         NaN
71442802          FOX  2018-09-25         NaN

In [ ]:
# 음~~~ 그다음 어떻게 하쥐,,,,,,,,,,