In [7]:
import pandas as pd

In [8]:
mkt = pd.read_csv('../new_market.csv')
mkt['pricingDate'] = pd.to_datetime(mkt['pricingDate'])
mkt = mkt.set_index('pricingDate')
mkt

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2018-05-01,63.574105,42.342797,40.191708,79.940979,53.921780,26.876666,140.357973,224.08,79.992862,38.801281,...,180.343060,39.841488,58.326616,47.887170,65.827974,78.555893,108.770822,136.78,46.462606,80.580399
2018-05-02,63.257386,41.249072,41.967178,78.609543,53.032556,26.310000,139.240061,221.10,79.488744,38.284275,...,179.572242,39.747543,58.212919,47.839888,64.434146,72.716789,109.245154,133.12,46.580767,77.198727
2018-05-03,63.670080,41.122121,42.043236,78.539055,53.105894,25.983333,140.182433,226.05,79.137661,37.569084,...,180.126855,39.696300,58.015844,46.563275,65.135737,74.956321,107.124611,133.54,45.956201,77.662499
2018-05-04,64.303518,41.854527,43.692736,78.452903,53.848442,26.276666,141.762291,228.51,81.262162,37.793120,...,180.869471,39.619435,58.288717,47.272504,65.556692,74.738715,108.091876,134.67,46.808649,78.802606
2018-05-07,64.677822,41.541303,44.008850,78.029977,54.380142,26.376666,140.709052,230.99,81.469211,37.646635,...,180.399461,39.397382,58.925421,44.369392,65.500564,75.355266,108.808024,137.48,46.850849,79.372659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,111.670000,12.730000,173.660000,147.690000,95.650000,80.460000,308.112102,518.42,173.790000,73.470000,...,88.210000,56.630000,111.500000,33.300000,91.220000,123.530000,109.690000,230.94,33.330000,170.990000
2023-10-05,110.350000,12.850000,174.910000,147.450000,96.200000,81.640000,308.380987,516.44,172.100000,73.130000,...,89.490000,56.480000,108.990000,32.180000,90.140000,121.840000,109.300000,222.54,33.400000,172.000000
2023-10-06,110.640000,12.760000,177.490000,148.240000,96.880000,82.180000,310.900537,526.68,173.970000,72.860000,...,92.410000,57.350000,107.170000,32.480000,90.970000,119.460000,110.910000,223.85,33.690000,175.580000
2023-10-09,111.280000,12.240000,178.990000,149.110000,96.760000,82.070000,310.721280,529.29,173.320000,73.900000,...,93.070000,57.650000,110.920000,31.960000,91.090000,118.910000,110.690000,222.58,33.970000,174.600000
2023-10-10,113.290000,12.260000,178.390000,148.890000,97.560000,81.860000,311.030000,532.72,175.970000,74.150000,...,93.990000,58.060000,110.450000,32.400000,91.950000,120.370000,112.190000,222.40,35.120000,175.630000

In [9]:
ticker_15 = ['AAPL', 'AMZN', 'NVDA', 'JPM', 'PG', 'PFE', 'JNJ', 'KO', 'XOM', 'NEE',
             'GOOGL', 'MSFT', 'TSLA', 'NKE', 'BAC']

ticker_30 = ['MSFT', 'AMZN', 'NVDA', 'AAPL', 'GOOGL', 'ADBE', 'JNJ', 'PFE', 'MRK', 
             'ABT', 'PG', 'KO', 'JPM', 'GS', 'CAT', 'CVX', 'XOM', 'BA', 'TSLA', 'NEE', 
             'NKE', 'VZ', 'CRM', 'UNH', 'WMT', 'QCOM', 'BAC', 'V', 'MCD', 'INTC']

ticker_45 = ['AAPL', 'GOOGL', 'MSFT', 'NVDA', 'AMD', 'ORCL', 'CRM', 'INTC', 'CSCO', 
             'JPM', 'GS', 'BAC', 'MS', 'AXP', 'C', 'JNJ', 'UNH', 'PFE', 'ABBV', 'TSLA', 
             'AMGN', 'GILD', 'PG', 'KO', 'NKE', 'PEP', 'COST', 'WMT', 'TGT', 'XOM', 
             'CVX', 'NEE', 'DUK', 'SO', 'SLB', 'MMM', 'CAT', 'HON', 'GE', 'ADP', 'AMZN', 
             'META', 'HD', 'VZ', 'MRK']

In [10]:
price_15 = mkt[ticker_15]
price_15

,AAPL,AMZN,NVDA,JPM,PG,PFE,JNJ,KO,XOM,NEE,GOOGL,MSFT,TSLA,NKE,BAC
pricingDate,,,,,,,,,,,,,,,
2018-05-01,40.191708,79.11300,56.227008,92.320306,62.678005,27.354391,108.702901,35.810358,58.326616,36.037792,52.0375,89.274061,19.994666,64.398101,26.345518
2018-05-02,41.967178,78.48400,56.021547,91.590434,61.789573,26.960303,106.537642,35.364726,58.212919,36.088574,51.3025,87.873868,20.076666,64.549404,26.020047
2018-05-03,42.043236,78.60375,57.675137,91.013326,62.155398,26.859849,106.132195,35.221787,58.015844,36.002465,51.3150,88.400115,18.963333,63.263333,25.685780
2018-05-04,43.692736,79.04750,59.177726,92.023265,63.087380,26.921667,107.132872,35.616971,58.288717,36.229882,52.5500,89.424418,19.606000,64.398101,25.773745
2018-05-07,44.008850,80.00700,61.559093,92.821032,62.695425,26.991212,106.615280,35.431991,58.925421,36.066495,52.9730,90.420528,20.184666,65.570695,26.072826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,173.660000,127.00000,440.410000,142.300000,145.970000,33.310000,155.520000,55.040000,111.500000,50.620000,135.2400,318.955000,261.160000,95.890000,25.940000
2023-10-05,174.910000,125.96000,446.880000,142.900000,143.800000,33.470000,157.140000,52.380000,108.990000,49.450000,135.0700,319.360000,260.050000,95.790000,26.060000
2023-10-06,177.490000,127.96000,457.620000,145.100000,144.090000,33.130000,157.640000,53.140000,107.170000,50.240000,137.5800,327.260000,260.530000,97.110000,26.070000
2023-10-09,178.990000,128.26000,452.730000,144.770000,143.360000,33.200000,158.540000,52.880000,110.920000,49.320000,138.4200,329.820000,259.670000,96.880000,26.310000
2023-10-10,178.390000,129.48000,457.980000,145.650000,144.780000,33.170000,158.360000,54.030000,110.450000,51.580000,138.0600,328.390000,263.620000,97.620000,27.010000

In [11]:
price_30 = mkt[ticker_30]
price_30

,MSFT,AMZN,NVDA,AAPL,GOOGL,ADBE,JNJ,PFE,MRK,ABT,...,NKE,VZ,CRM,UNH,WMT,QCOM,BAC,V,MCD,INTC
pricingDate,,,,,,,,,,,,,,,,,,,,,
2018-05-01,89.274061,79.11300,56.227008,40.191708,52.0375,224.08,108.702901,27.354391,46.767978,53.921780,...,64.398101,37.075351,123.11,218.332395,79.335463,43.674546,26.345518,122.893455,143.746563,45.829609
2018-05-02,87.873868,78.48400,56.021547,41.967178,51.3025,221.10,106.537642,26.960303,46.219475,53.032556,...,64.549404,36.262761,122.82,215.207435,78.364305,43.193284,26.020047,121.804367,141.319125,44.953063
2018-05-03,88.400115,78.60375,57.675137,42.043236,51.3150,226.05,106.132195,26.859849,46.404998,53.105894,...,63.263333,36.331110,124.41,215.843489,78.264466,43.236254,25.685780,122.575403,140.791421,44.927282
2018-05-04,89.424418,79.04750,59.177726,43.692736,52.5500,228.51,107.132872,26.921667,46.582455,53.848442,...,64.398101,36.596910,125.12,217.456669,79.444378,45.109739,25.773745,123.519922,145.144979,45.618737
2018-05-07,90.420528,80.00700,61.559093,44.008850,52.9730,230.99,106.615280,26.991212,46.284005,54.380142,...,65.570695,36.247573,126.97,215.502417,77.574671,45.556625,26.072826,124.580096,145.118593,46.094113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,318.955000,127.00000,440.410000,173.660000,135.2400,518.42,155.520000,33.310000,102.170000,95.650000,...,95.890000,30.880852,201.87,510.620000,161.000000,109.850000,25.940000,231.220000,255.810000,35.930000
2023-10-05,319.360000,125.96000,446.880000,174.910000,135.0700,516.44,157.140000,33.470000,103.600000,96.200000,...,95.790000,31.155000,202.01,516.230000,159.080000,109.800000,26.060000,233.480000,252.230000,35.890000
2023-10-06,327.260000,127.96000,457.620000,177.490000,137.5800,526.68,157.640000,33.130000,103.880000,96.880000,...,97.110000,30.850000,207.36,524.810000,156.410000,110.880000,26.070000,235.040000,248.220000,36.190000
2023-10-09,329.820000,128.26000,452.730000,178.990000,138.4200,529.29,158.540000,33.200000,104.500000,96.760000,...,96.880000,31.450000,207.22,526.510000,155.840000,111.800000,26.310000,234.440000,249.920000,36.060000
2023-10-10,328.390000,129.48000,457.980000,178.390000,138.0600,532.72,158.360000,33.170000,103.610000,97.560000,...,97.620000,31.760000,206.88,524.240000,157.600000,112.310000,27.010000,236.600000,251.520000,36.430000

In [12]:
price_45 = mkt[ticker_45]
price_45

,AAPL,GOOGL,MSFT,NVDA,AMD,ORCL,CRM,INTC,CSCO,JPM,...,MMM,CAT,HON,GE,ADP,AMZN,META,HD,VZ,MRK
pricingDate,,,,,,,,,,,,,,,,,,,,,
2018-05-01,40.191708,52.0375,89.274061,56.227008,11.13,42.001284,123.11,45.829609,37.967313,92.320306,...,158.736120,126.926614,123.687315,81.119277,106.005368,79.11300,173.86,161.616420,37.075351,46.767978
2018-05-02,41.967178,51.3025,87.873868,56.021547,10.97,41.599096,122.82,44.953063,37.145803,91.590434,...,158.312867,126.434446,122.377775,81.869847,108.914270,78.48400,176.07,162.736872,36.262761,46.219475
2018-05-03,42.043236,51.3150,88.400115,57.675137,10.93,41.187767,124.41,44.927282,37.637015,91.013326,...,159.273325,126.364136,122.703020,80.426443,109.842263,78.60375,174.02,160.355912,36.331110,46.404998
2018-05-04,43.692736,52.5500,89.424418,59.177726,11.28,41.781909,125.12,45.618737,38.365364,92.023265,...,162.268654,128.640413,123.156652,81.407958,111.858863,79.04750,176.61,161.966561,36.596910,46.582455
2018-05-07,44.008850,52.9730,90.420528,61.559093,11.59,42.110972,126.97,46.094113,38.729539,92.821032,...,163.001207,131.672520,123.387747,81.234749,112.046247,80.00700,177.97,160.679793,36.247573,46.284005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,173.660000,135.2400,318.955000,440.410000,104.07,106.689589,201.87,35.930000,53.450000,142.300000,...,88.020000,265.030000,182.500000,108.850000,243.980000,127.00000,305.58,292.390000,30.880852,102.170000
2023-10-05,174.910000,135.0700,319.360000,446.880000,102.91,107.954959,202.01,35.890000,53.070000,142.900000,...,87.830000,260.800000,180.020000,108.720000,243.360000,125.96000,304.79,291.700000,31.155000,103.600000
2023-10-06,177.490000,137.5800,327.260000,457.620000,107.24,109.559089,207.36,36.190000,53.450000,145.100000,...,88.400000,266.040000,184.660000,111.470000,246.380000,127.96000,315.43,292.820000,30.850000,103.880000
2023-10-09,178.990000,138.4200,329.820000,452.730000,106.97,109.917776,207.22,36.060000,53.920000,144.770000,...,89.050000,271.300000,186.520000,110.260000,250.180000,128.26000,318.36,295.360000,31.450000,104.500000
2023-10-10,178.390000,138.0600,328.390000,457.980000,109.01,109.310000,206.88,36.430000,53.870000,145.650000,...,90.640000,273.210000,186.340000,111.480000,249.150000,129.48000,321.84,299.220000,31.760000,103.610000