In [1]:
import pandas as pd

In [2]:
mkt = pd.read_csv('../new_market.csv')
mkt['pricingDate'] = pd.to_datetime(mkt['pricingDate'])
mkt = mkt.set_index('pricingDate')
mkt

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2018-05-01,66.24,43.36,42.2750,102.07,58.82,26.876666,151.92,224.08,88.86,45.03,...,191.85,46.65,76.95,50.64,70.37,86.64,116.95,136.78,55.05,83.40
2018-05-02,65.91,42.24,44.1425,100.37,57.85,26.310000,150.71,221.10,88.30,44.43,...,191.03,46.54,76.80,50.59,68.88,80.20,117.46,133.12,55.19,79.90
2018-05-03,66.34,42.11,44.2225,100.28,57.93,25.983333,151.73,226.05,87.91,43.60,...,191.62,46.48,76.54,49.24,69.63,82.67,115.18,133.54,54.45,80.38
2018-05-04,67.00,42.86,45.9575,100.17,58.74,26.276666,153.44,228.51,90.27,43.86,...,192.41,46.39,76.90,49.99,70.08,82.43,116.22,134.67,55.46,81.56
2018-05-07,67.39,42.44,46.2900,99.63,59.32,26.376666,152.30,230.99,90.50,43.69,...,191.91,46.13,77.74,46.92,70.02,83.11,116.99,137.48,55.51,82.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,111.67,12.73,173.6600,147.69,95.65,80.460000,309.39,518.42,173.79,73.47,...,88.21,56.63,111.50,33.30,91.22,123.53,109.69,230.94,33.33,170.99
2023-10-05,110.35,12.85,174.9100,147.45,96.20,81.640000,309.66,516.44,172.10,73.13,...,89.49,56.48,108.99,32.18,90.14,121.84,109.30,222.54,33.40,172.00
2023-10-06,110.64,12.76,177.4900,148.24,96.88,82.180000,312.19,526.68,173.97,72.86,...,92.41,57.35,107.17,32.48,90.97,119.46,110.91,223.85,33.69,175.58
2023-10-09,111.28,12.24,178.9900,149.11,96.76,82.070000,312.01,529.29,173.32,73.90,...,93.07,57.65,110.92,31.96,91.09,118.91,110.69,222.58,33.97,174.60
2023-10-10,113.29,12.26,178.3900,148.89,97.56,81.860000,312.32,532.72,175.97,74.15,...,93.99,58.06,110.45,32.40,91.95,120.37,112.19,222.40,35.12,175.63

In [3]:
weight_15 = {'AAPL': 0.03333333338183161,
 'AMZN': 0.03333333333333333,
 'NVDA': 0.03333333382929689,
 'JPM': 0.03333333333333333,
 'PG': 0.03333333333333333,
 'PFE': 0.13333333322871202,
 'JNJ': 0.03333333333333333,
 'KO': 0.13333333328987243,
 'XOM': 0.13333333333333333,
 'NEE': 0.13333333333333333,
 'GOOGL': 0.03333333333333333,
 'MSFT': 0.033333333674163704,
 'TSLA': 0.03333333333333333,
 'NKE': 0.03333333333333333,
 'BAC': 0.13333333310992196}

weight_30 = {'MSFT': 0.016666666666666666,
 'AMZN': 0.016666676730776448,
 'NVDA': 0.016666666666666666,
 'AAPL': 0.016666666759563003,
 'GOOGL': 0.01666667276249135,
 'ADBE': 0.016666666666666666,
 'JNJ': 0.06666666666666667,
 'PFE': 0.06666666666666667,
 'MRK': 0.06666666666666667,
 'ABT': 0.05599760193116274,
 'PG': 0.016666674816256034,
 'KO': 0.06666666666666667,
 'JPM': 0.01666667405460323,
 'GS': 0.016666666666666666,
 'CAT': 0.016666666666666666,
 'CVX': 0.01666666836925838,
 'XOM': 0.06666666666666667,
 'BA': 0.06666657724202117,
 'TSLA': 0.016666666666666666,
 'NEE': 0.06666666666666667,
 'NKE': 0.016666674692721723,
 'VZ': 0.06666666666666667,
 'CRM': 0.01666667503976828,
 'UNH': 0.016666666666666666,
 'WMT': 0.02733574881512344,
 'QCOM': 0.016666670965621005,
 'BRK-B': 0.016666666666666666,
 'V': 0.016666672819429424,
 'MCD': 0.016666667327196592,
 'INTC': 0.06666666666666667}

In [4]:
ticker_15 = list(weight_15.keys())
ticker_30 = list(weight_30.keys())

ticker_45 = pd.read_csv('./ticker_45_EPO_optimal_weights.csv')
ticker_45 = ticker_45['Ticker'].tolist()

In [5]:
price_15 = mkt[ticker_15]
price_15

,AAPL,AMZN,NVDA,JPM,PG,PFE,JNJ,KO,XOM,NEE,GOOGL,MSFT,TSLA,NKE,BAC
pricingDate,,,,,,,,,,,,,,,
2018-05-01,42.2750,79.11300,56.7850,108.78,71.96,35.40,126.01,42.59,76.95,40.8050,52.0375,95.000,19.994666,68.10,29.95
2018-05-02,44.1425,78.48400,56.5775,107.92,70.94,34.89,123.50,42.06,76.80,40.8625,51.3025,93.510,20.076666,68.26,29.58
2018-05-03,44.2225,78.60375,58.2475,107.24,71.36,34.76,123.03,41.89,76.54,40.7650,51.3150,94.070,18.963333,66.90,29.20
2018-05-04,45.9575,79.04750,59.7650,108.43,72.43,34.84,124.19,42.36,76.90,41.0225,52.5500,95.160,19.606000,68.10,29.30
2018-05-07,46.2900,80.00700,62.1700,109.37,71.98,34.93,123.59,42.14,77.74,40.8375,52.9730,96.220,20.184666,69.34,29.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,173.6600,127.00000,440.4100,143.35,145.97,33.31,155.52,55.04,111.50,50.6200,135.2400,318.955,261.160000,95.89,25.94
2023-10-05,174.9100,125.96000,446.8800,142.90,143.80,33.47,157.14,52.38,108.99,49.4500,135.0700,319.360,260.050000,95.79,26.06
2023-10-06,177.4900,127.96000,457.6200,145.10,144.09,33.13,157.64,53.14,107.17,50.2400,137.5800,327.260,260.530000,97.11,26.07
2023-10-09,178.9900,128.26000,452.7300,144.77,143.36,33.20,158.54,52.88,110.92,49.3200,138.4200,329.820,259.670000,96.88,26.31
2023-10-10,178.3900,129.48000,457.9800,145.65,144.78,33.17,158.36,54.03,110.45,51.5800,138.0600,328.390,263.620000,97.62,27.01

In [6]:
price_30 = mkt[ticker_30]
price_30

KeyError: "['CAT', 'BRK-B'] not in index"

In [7]:
price_45 = mkt[ticker_45]
price_45

KeyError: "['CAT'] not in index"