In [1]:
# 리밸런싱 
# out-of-sample에서 리밸런싱 우선
# 매달 리밸런싱 진행
    # 리밸런싱은 해당 기간 최적화 돌려서 나온 비중을 갖고 '매달' 진행.
    # 1. (out of sample 기간) 2023.05.01에 투자를 시작할 때 과거 5년치 데이터로 최적화 문제 풀고, 다음 한달간 수익률 보기. 
    # 그리고 2023.06.01에 시작할 때는 그때까지 데이터로 최적화 풀고, 
    # 나온 가중치로 리밸런싱 하고 한달간 수익률 보기… 
    # 반복
# 2. look back 기간을 1년, 2년, 등 여러 기간으로 설정하고 돌려보기.

In [2]:
!pip install pyPortfolioOpt
!pip install cplex
!pip install numpy
!pip install pandas
!pip install cvxpy

Requirement already satisfied: pyPortfolioOpt in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (1.5.5)
Requirement already satisfied: cvxpy<2.0.0,>=1.1.19 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pyPortfolioOpt) (1.4.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.4 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pyPortfolioOpt) (1.26.2)
Requirement already satisfied: pandas>=0.19 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pyPortfolioOpt) (2.1.3)
Requirement already satisfied: scipy<2.0,>=1.3 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pyPortfolioOpt) (1.11.4)
Requirement already satisfied: osqp>=0.6.2 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (0.6.3)
Requirement already satisfied: ecos>=2 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (2.0.12)
Requirement already satisfied: clarabel>=0.5.0 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (0.6.0)
Requirement already satisfied: scs>=3.0 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (3.2.4)
Requirement already satisfied: pybind11 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (2.11.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yoojiyoung\appdata\roaming\python\python39\site-packages (from pandas>=0.19->pyPortfolioOpt) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19->pyPortfolioOpt) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19->pyPortfolioOpt) (2023.3)
Requirement already satisfied: qdldl in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from osqp>=0.6.2->cvxpy<2.0.0,>=1.1.19->pyPortfolioOpt) (0.1.7.post0)
Requirement already satisfied: six>=1.5 in c:\users\yoojiyoung\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas>=0.19->pyPortfolioOpt) (1.16.0)
Requirement already satisfied: cplex in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (22.1.1.0)
Requirement already satisfied: numpy in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (1.26.2)
Requirement already satisfied: pandas in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yoojiyoung\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\yoojiyoung\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: cvxpy in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (1.4.1)
Requirement already satisfied: osqp>=0.6.2 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (0.6.3)
Requirement already satisfied: ecos>=2 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (2.0.12)
Requirement already satisfied: clarabel>=0.5.0 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (0.6.0)
Requirement already satisfied: scs>=3.0 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (3.2.4)
Requirement already satisfied: numpy>=1.15 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (1.26.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (1.11.4)
Requirement already satisfied: pybind11 in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from cvxpy) (2.11.1)
Requirement already satisfied: qdldl in c:\users\yoojiyoung\appdata\local\programs\python\python39\lib\site-packages (from osqp>=0.6.2->cvxpy) (0.1.7.post0)

In [3]:
import numpy as np
import cvxpy as cp
import cplex
from tqdm import tqdm
from datetime import timedelta

from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf

from dateutil.relativedelta import relativedelta
from datetime import datetime

In [4]:
# GPT 종목 (GPT weight)
stocks_15 = {
    "AAPL": 0.084, "AMZN": 0.074, "NVDA": 0.064, "JPM": 0.054, "PG": 0.054,
    "PFE": 0.064, "JNJ": 0.064, "KO": 0.054, "XOM": 0.064, "NEE": 0.074,
    "GOOGL": 0.084, "MSFT": 0.084, "TSLA": 0.074, "NKE": 0.054, "BAC": 0.054
}

stocks_30 = {
    "MSFT": 0.067, "AMZN": 0.067, "NVDA": 0.067, "AAPL": 0.067, "GOOGL": 0.067,
    "ADBE": 0.067, "JNJ": 0.05, "PFE": 0.05, "MRK": 0.05, "ABT": 0.05, 
    "PG": 0.05, "KO": 0.05, "JPM": 0.05, "GS": 0.05, "CAT": 0.025, 
    "CVX": 0.025, "XOM": 0.025, "BA": 0.025, "TSLA": 0.025, "NEE": 0.025, 
    "NKE": 0.005, "VZ": 0.005, "CRM": 0.005, "UNH": 0.005, "WMT": 0.005, 
    "QCOM": 0.005, "BAC": 0.005, "V": 0.005, "MCD": 0.005, "INTC": 0.005
}

stocks_45 = {
    "AAPL": 0.05, "GOOGL": 0.04, "MSFT": 0.04, "NVDA": 0.03, "AMD": 0.03, 
    "ORCL": 0.02, "CRM": 0.02, "INTC": 0.01, "CSCO": 0.01, "JPM": 0.04, 
    "GS": 0.03, "BAC": 0.03, "MS": 0.02, "AXP": 0.02, "C": 0.01,
    "JNJ": 0.03, "UNH": 0.03, "PFE": 0.02, "ABBV": 0.02, "TSLA": 0.02, 
    "AMGN": 0.02, "GILD": 0.01, "PG": 0.03, "KO": 0.03, "NKE": 0.02, 
    "PEP": 0.02, "COST": 0.02, "WMT": 0.02, "TGT": 0.01, "XOM": 0.025, 
    "CVX": 0.025, "NEE": 0.02, "DUK": 0.01, "SO": 0.01, "SLB": 0.01,
    "MMM": 0.02, "CAT": 0.02, "HON": 0.02, "GE": 0.02, "ADP": 0.02,
    "AMZN": 0.02, "META": 0.02, "HD": 0.02, "VZ": 0.01, "MRK": 0.01
}

In [5]:
# 종목명 리스트
tickers_15 = list(stocks_15.keys())
tickers_30 = list(stocks_30.keys())
tickers_45 = list(stocks_45.keys())

### GPT weight

In [6]:
gpt_15_weights = stocks_15
gpt_30_weights = stocks_30
gpt_45_weights = stocks_45

### Equal weight

In [7]:
eq_15_weights = [1/15] * 15
eq_30_weights = [1/30] * 30
eq_45_weights = [1/45] * 45

eq_15 =dict(zip(tickers_15, eq_15_weights))
eq_30 =dict(zip(tickers_30, eq_30_weights))
eq_45 =dict(zip(tickers_45, eq_45_weights))

### GMV + EPO weight

In [8]:
gmv_epo_15_weights = [0.049605485006088634, 0.07849495425750663, 0.06333929068001071, 0.05700662407849795, 0.07650289062642221, 0.05900628444525451, 0.057323863755786, 0.0475050526473884, 0.06851785110258568, 0.0551095984517666, 0.0635746953436858, 0.08684669491598282, 0.06555603211482636, 0.08160761317658853, 0.090003069397609]
gmv_epo_30_weights = [0.016666779461997225, 0.028582382826203727, 0.03181481366190954, 0.04612454337672658, 0.03430208600932986, 0.02496457702197057, 0.034559689579773685, 0.03603933972602465, 0.0348256115466567, 0.02719368909866466, 0.01666666768426058, 0.03550281897656019, 0.03316982644195968, 0.02106295226563651, 0.019372147251594442, 0.01873074735009172, 0.06623366706426345, 0.016666690262465863, 0.03423317149469612, 0.02304327143120648, 0.031214508772612753, 0.045807643648171685, 0.027946448832753296, 0.049668167222889026, 0.049588148769328606, 0.024769224302769302, 0.016666667674594095, 0.05283625719167181, 0.05583979037764232, 0.045907670675591185]
gmv_epo_45_weights = [0.011111111975729409, 0.026646602204962858, 0.011111111299922065, 0.0309210193238956, 0.025007258123960922, 0.034659892275724705, 0.01111111146901072, 0.011111111747740477, 0.011111111516746397, 0.01779091912009698, 0.01984888218960698, 0.02522647335013622, 0.011180137115527101, 0.017489649124790285, 0.028191045792364738, 0.03631158995254371, 0.044444444090877805, 0.016302194182152667, 0.011111111266490585, 0.011111111595258412, 0.01111111125737019, 0.022827040798679366, 0.020587601244674014, 0.011111111503325005, 0.011111111556128327, 0.044444443639370106, 0.011111111461049875, 0.04444444402780661, 0.011111111368812045, 0.011111112285545484, 0.023035029376855205, 0.01260693000477375, 0.02165124524507929, 0.02165119066334294, 0.011286898608143595, 0.029528803525066108, 0.017506358987491956, 0.03972350417693582, 0.018956379525549516, 0.036275899230639834, 0.040688577981395774, 0.011896549529971394, 0.03665347882393091, 0.03968317677255412, 0.028087890687943526]

gmv_epo_15 = dict(zip(tickers_15, gmv_epo_15_weights))
gmv_epo_30 = dict(zip(tickers_30, gmv_epo_30_weights))
gmv_epo_45 = dict(zip(tickers_45, gmv_epo_45_weights))

### MAX Sharpe + EPO weight

In [9]:
msp_epo_15_weights = [0.13333, 0.03333, 0.13333, 0.03333, 0.09539, 0.03333, 0.03333, 0.03333, 0.03707, 0.05699, 0.03897, 0.13333, 0.13333, 0.03825, 0.03333]
msp_epo_30_weights = [0.06667, 0.01667, 0.06667, 0.06667, 0.0387, 0.01667, 0.01667, 0.01667, 0.06667, 0.02469, 0.06667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.06667, 0.0443, 0.02974, 0.01667, 0.01667, 0.05967, 0.04331, 0.06667, 0.01667, 0.01667, 0.02625, 0.01667]
msp_epo_45_weights = [0.04444, 0.04379, 0.04444, 0.04444, 0.04444, 0.04444, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.04444, 0.01111, 0.01111, 0.04444, 0.01111, 0.01111, 0.04444, 0.01111, 0.0312, 0.02923, 0.04444, 0.03726, 0.04444, 0.01557, 0.01111, 0.04296, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.04444]

msp_epo_15 = dict(zip(tickers_15, msp_epo_15_weights))
msp_epo_30 = dict(zip(tickers_30, msp_epo_30_weights))
msp_epo_45 = dict(zip(tickers_45, msp_epo_45_weights))

### MAX Returns + EPO weight

In [10]:
max_return_epo_15_weights = [0.13333, 0.03333, 0.13333, 0.03333, 0.13333, 0.03333, 0.03333, 0.03333, 0.03333, 0.03333, 0.03333, 0.13333, 0.13333, 0.03333, 0.03333]
max_return_epo_30_weights = [0.06667, 0.01667, 0.06667, 0.06667, 0.06667, 0.01667, 0.01667, 0.01667, 0.06667, 0.06667, 0.06667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.01667, 0.06667, 0.01667, 0.01667, 0.01667, 0.01667, 0.06667, 0.01667, 0.06667, 0.01667, 0.01667, 0.01667, 0.01667]
max_return_epo_45_weights = [0.04444, 0.04444, 0.04444, 0.04444, 0.04444, 0.04444, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.04444, 0.01111, 0.01111, 0.04444, 0.01111, 0.01111, 0.04444, 0.01111, 0.04444, 0.04444, 0.04444, 0.01111, 0.04444, 0.01111, 0.01111, 0.04444, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.01111, 0.04444]

max_return_epo_15 = dict(zip(tickers_15, max_return_epo_15_weights))
max_return_epo_30 = dict(zip(tickers_30, max_return_epo_30_weights))
max_return_epo_45 = dict(zip(tickers_45, max_return_epo_45_weights))

-----

### Rebalncing

In [11]:
# 분기별 (3개월) 리밸런싱
# LookBack period : 1year
# out-of-sample 기간 : 2023-05-01 ~ 2023-10-10

In [12]:
# in-sample price data
mkt = pd.read_csv('../new_market.csv')
mkt.set_index('pricingDate', inplace=True)
mkt.index = pd.to_datetime(mkt.index)
mkt_in = mkt.loc[:'2023-04-30', :]
mkt_out = mkt.loc['2023-05-01':, :]

In [13]:
mkt_in

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2018-05-01,66.24,43.36,42.2750,102.07,58.82,26.876666,151.92,224.08,88.86,45.03,...,191.85,46.65,76.95,50.64,70.37,86.64,116.95,136.78,55.05,83.40
2018-05-02,65.91,42.24,44.1425,100.37,57.85,26.310000,150.71,221.10,88.30,44.43,...,191.03,46.54,76.80,50.59,68.88,80.20,117.46,133.12,55.19,79.90
2018-05-03,66.34,42.11,44.2225,100.28,57.93,25.983333,151.73,226.05,87.91,43.60,...,191.62,46.48,76.54,49.24,69.63,82.67,115.18,133.54,54.45,80.38
2018-05-04,67.00,42.86,45.9575,100.17,58.74,26.276666,153.44,228.51,90.27,43.86,...,192.41,46.39,76.90,49.99,70.08,82.43,116.22,134.67,55.46,81.56
2018-05-07,67.39,42.44,46.2900,99.63,59.32,26.376666,152.30,230.99,90.50,43.69,...,191.91,46.13,77.74,46.92,70.02,83.11,116.99,137.48,55.51,82.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,138.48,13.32,165.3300,164.08,110.40,72.510000,277.25,377.34,186.96,80.80,...,114.48,71.03,118.20,41.44,104.54,138.90,138.14,288.19,28.27,176.35
2023-04-25,130.37,12.84,163.7700,164.90,109.97,72.590000,270.70,369.59,181.14,75.90,...,111.63,71.18,116.52,40.97,102.92,137.81,139.06,284.10,26.73,173.02
2023-04-26,133.12,12.74,163.7600,161.80,108.75,72.290000,271.21,363.06,180.66,77.03,...,109.45,69.68,115.45,40.93,100.98,138.01,139.08,280.42,26.39,172.94
2023-04-27,133.25,12.88,168.4100,148.87,109.50,73.880000,275.45,371.42,177.62,78.01,...,110.22,70.26,116.83,41.36,103.83,139.80,138.35,284.12,26.58,173.95
2023-04-28,135.43,13.64,169.6800,151.12,110.47,75.070000,280.29,377.56,179.88,78.08,...,114.28,69.91,118.34,41.93,103.84,140.58,138.44,288.03,27.86,175.78

In [14]:
mkt_out

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2023-05-01,136.08,13.89,169.59,153.71,111.11,75.90,279.42,374.15,182.54,77.80,...,115.60,70.17,114.67,42.39,104.50,142.23,138.83,287.45,26.82,179.56
2023-05-02,134.52,13.77,168.54,151.62,111.50,76.03,276.74,368.66,183.66,75.52,...,113.20,69.10,110.10,42.10,104.52,142.90,143.01,255.44,23.92,176.90
2023-05-03,134.77,13.79,167.45,149.25,111.76,75.62,275.18,345.25,182.39,75.02,...,109.33,68.50,107.93,40.48,104.15,137.31,139.62,258.50,22.66,177.73
2023-05-04,133.88,13.51,165.79,147.36,110.86,72.92,266.50,335.83,181.33,74.22,...,109.25,69.11,106.04,40.85,106.33,136.32,136.63,265.00,19.93,178.47
2023-05-05,133.30,13.87,173.57,148.03,111.26,74.81,265.65,348.40,183.39,75.96,...,110.78,69.57,108.68,41.30,108.97,137.49,137.91,273.80,23.76,186.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,111.67,12.73,173.66,147.69,95.65,80.46,309.39,518.42,173.79,73.47,...,88.21,56.63,111.50,33.30,91.22,123.53,109.69,230.94,33.33,170.99
2023-10-05,110.35,12.85,174.91,147.45,96.20,81.64,309.66,516.44,172.10,73.13,...,89.49,56.48,108.99,32.18,90.14,121.84,109.30,222.54,33.40,172.00
2023-10-06,110.64,12.76,177.49,148.24,96.88,82.18,312.19,526.68,173.97,72.86,...,92.41,57.35,107.17,32.48,90.97,119.46,110.91,223.85,33.69,175.58
2023-10-09,111.28,12.24,178.99,149.11,96.76,82.07,312.01,529.29,173.32,73.90,...,93.07,57.65,110.92,31.96,91.09,118.91,110.69,222.58,33.97,174.60
2023-10-10,113.29,12.26,178.39,148.89,97.56,81.86,312.32,532.72,175.97,74.15,...,93.99,58.06,110.45,32.40,91.95,120.37,112.19,222.40,35.12,175.63

### out-of-sample rebalancing

In [15]:
# # GPT가 짜준거(계속 오류남;;)
# # 수익률 및 공분산 계산 함수
# def calculate_return_covariance(data, lookback_period):
#     return data.pct_change(lookback_period).mean(), data.pct_change(lookback_period).cov()

# # EPO 최적화 함수
# def gmv_epo(dict):
#     data = yf.download(list(dict.keys()), start="2023-05-01", end="2023-10-11", interval='1wk')['Adj Close']
#     ret = data.pct_change().dropna()
    
#     num_assets = data.shape[1] # 종목 개수가 나와야함
#     weights = cp.Variable((num_assets,1)) # 종목 개수랑 같아야함
#     # corr_mat = np.corr(ret.values.T) # 개별 종목 별 기대수익률을 구해서 Correlation Matrix를 만듬
#     corr_mat = ret.corr()

#     theta = 0.75 # shrinkage parameter
#     identity_matrix = np.eye(corr_mat.shape[0])  # identity matrix
#     corr_mat = (1-theta) * corr_mat + theta * identity_matrix # corr_mat에 shrinkage parameter 적용

#     print(corr_mat)
    
#     obj = cp.Minimize(cp.quad_form(weights, corr_mat)) # 목적식 설정
    
#     # sum(weights) = 1, weights >= 0, min weight ~ max weight 범위 제약
#     const = [cp.sum(weights) == 1, weights >= 0, ((1/num_assets))/2 <= weights, weights <= 2*(1/num_assets)] # 제약식 설정, 공매도 원하면 위에 주석 가져다 옆으로 복붙하면됨
    
#     problem = cp.Problem(obj, const) # 문제 정의
#     problem.solve(verbose=False, solver=cp.CPLEX) # 문제 풀기
    
#     if problem.status == "optimal":
#         w_opt = np.array(weights.value).flatten()
#         print("Optimal")
#     else:
#         print("It isn't optimal")

#     return w_opt

# # 포트폴리오 리턴 계산 함수
# def calculate_portfolio_return(weights, data):
#     weighted_returns = (data.pct_change() * weights).sum(axis=1)
#     return weighted_returns

# # def calculate_portfolio_return(weights, data):
# #     # 데이터의 컬럼 수와 가중치 벡터의 길이가 동일한지 확인
# #     if len(weights) != data.shape[1]:
# #         raise ValueError("Length of weights does not match number of columns in data")

# #     weighted_returns = (data.pct_change() * weights).sum(axis=1)
# #     return weighted_returns

# # 리밸런싱 및 성과 평가 프로세스
# def rebalancing_process(data, rebalancing_period, lookback_period):
#     performance = []
#     rebalancing_dates = data.resample(rebalancing_period).mean().index

#     for date in rebalancing_dates:
#         # Lookback 기간에 대한 데이터 선택
#         lookback_data = data.loc[date - timedelta(days=lookback_period):date]

#         # 수익률과 공분산 계산
#         returns, covariance = calculate_return_covariance(lookback_data, lookback_period)

#         # EPO 최적화
#         optimal_weights = gmv_epo(stocks_15)

#         # 리밸런싱 기간 동안의 포트폴리오 리턴 계산
#         portfolio_return = calculate_portfolio_return(optimal_weights, data.loc[date:date + timedelta(days=90)])
#         performance.append(portfolio_return)

#     # 전체 성과 평가
#     total_performance = pd.concat(performance).cumsum()
#     return total_performance

# # 가상 데이터 생성 및 리밸런싱 프로세스 실행
# portfolio_performance = rebalancing_process(mkt_out, '3M', 365)

# # 결과 출력 (일부만 출력)
# portfolio_performance.head()

In [16]:
# 예시 데이터
# # 자산별 현재 가격과 포트폴리오 내 비중
# current_prices = {"Asset1": 100, "Asset2": 200, "Asset3": 300}
# current_weights = {"Asset1": 0.4, "Asset2": 0.4, "Asset3": 0.2}

# # 자산별 과거 가격 데이터 (예시)
# price_data = {
#     "Asset1": [95, 100, 105],
#     "Asset2": [195, 200, 205],
#     "Asset3": [295, 300, 305]
# }
# price_df = pd.DataFrame(price_data)

# # 수익률과 공분산 행렬 계산
# mu = expected_returns.mean_historical_return(price_df)
# S = risk_models.sample_cov(price_df)

# # 효율적인 프론티어 계산
# ef = EfficientFrontier(mu, S)
# weights = ef.max_sharpe()

# # 새로운 자산 배분
# new_weights = {k: weights[k] for k in current_weights.keys()}

# # 리밸런싱 필요 금액 계산
# portfolio_value = sum(current_prices[k] * current_weights[k] for k in current_prices)
# new_allocation = {k: portfolio_value * new_weights[k] for k in new_weights}
# rebalancing_trades = {k: new_allocation[k] - current_prices[k] * current_weights[k] for k in current_prices}

# print("새로운 자산 배분:", new_weights)
# print("리밸런싱을 위한 거래:", rebalancing_trades)

In [17]:
a = mkt_out.loc['2023-07-31':'2023-07-31', tickers_15]
b = [] # 종가 저장 리스트
for i in a.columns:
    b.append(float(a[i]))

b

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\3624546341.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b.append(float(a[i]))

[196.45,
 133.68,
 467.29,
 157.96,
 156.3,
 36.06,
 167.53,
 61.93,
 107.24,
 73.3,
 132.72,
 335.92,
 267.43,
 110.39,
 32.0]

In [18]:
## market 데이터 불러오기
def downloads(dict, start_date, end_date):
    data = pd.DataFrame()
    a = pd.DataFrame()
    tickers = list(dict.keys())

    for ticker in tqdm(tickers):
        a = mkt.loc[start_date:end_date, ticker]
        data = pd.concat([data, a], axis=1)

    return data

In [19]:
# 초기 투자 금액 (1만 달러)
initial = 10000

# 초기 가중치 w* : GMW+EPO weight
## 종목 리스트
tickers_15
tickers_30
tickers_45
## 가중치 리스트
gmv_epo_15_weights
gmv_epo_30_weights
gmv_epo_45_weights
## 종목 : 가중치 딕셔너리
gmv_epo_15
gmv_epo_30
gmv_epo_45

# w* 이용하여 2023-05-01 부터 2023-07-31까지(3개월간) 투자 후 payoff(2023-07-31의 종가 * w*) 확인 
a = mkt_out.loc['2023-07-31':'2023-07-31', tickers_15] # 2023-07-31 종가 df
b = [] # 2023-07-31 종가 저장 리스트
for i in a.columns:
    b.append(float(a[i]))
# payoff_med_15 = sum(np.multiply(b, gmv_epo_15_weights)) 

# w* 이용하여 2023-05-01 당시의 초기 투자량(payoff) 확인
c = mkt_out.loc['2023-05-01':'2023-05-01', tickers_15] # 2023-05-01 종가 df
d = [] # 2023-05-01 종가 저장 리스트
for i in c.columns:
    d.append(float(c[i]))
k = list((np.divide(np.multiply(gmv_epo_15_weights, [initial] * 15), d))) # 초기 투자 주식 보유량(XX주)

# 3개월 동안의 투자 수익률 확인 (소수점 단위)
ret_3m = ((sum(np.multiply(k,b)) - initial)/initial)   # ((2023-07-31의 payoff - 초기 payoff) / 초기 payoff)

# 3개월 후 나의 총 투자 (손)수익
total_ret_3m = initial*(1+ret_3m)  # 달러

# 2022-08-01~2023-07-31까지(lookback = 1yr)의 데이터로 EPO 최적화
## 리밸런싱을 위한 GMV+EPO 최적화
def gmv_epo(dict):

    data = downloads(dict, "2022-08-01", "2023-07-31")  # mkt 데이터에서 일별 주가데이터 가져오기(lookback 1yr)
    ret = data.pct_change().dropna()
    
    num_assets = data.shape[1] # 종목 개수가 나와야함
    weights = cp.Variable((num_assets,1)) # 종목 개수랑 같아야함
    # corr_mat = np.corr(ret.values.T) # 개별 종목 별 기대수익률을 구해서 Correlation Matrix를 만듬
    corr_mat = ret.corr()

    theta = 0.75 # shrinkage parameter
    identity_matrix = np.eye(corr_mat.shape[0])  # identity matrix
    corr_mat = (1-theta) * corr_mat + theta * identity_matrix # corr_mat에 shrinkage parameter 적용

    print(corr_mat)
    
    obj = cp.Minimize(cp.quad_form(weights, corr_mat)) # 목적식 설정
    
    # 가중치 합 = 1, weights >= 0, min weight ~ max weight 범위 제약
    const = [cp.sum(weights) == 1, weights >= 0, ((1/num_assets))/2 <= weights, weights <= 2*(1/num_assets)] # 제약식 설정, 공매도 원하면 위에 주석 가져다 옆으로 복붙하면됨
    
    problem = cp.Problem(obj, const) # 문제 정의
    problem.solve(verbose=False, solver=cp.CPLEX) # 문제 풀기
    
    if problem.status == "optimal":
        w_opt = np.array(weights.value).flatten()
        print("Optimal")
        # print(gmv_weights.value[:5])
        
        # print(max(gmv_weights.value)) # 가장 큰 weight를 보고싶으면 이거 주석 해제
    else:
        print("It isn't optimal")

    return w_opt
gmv_epo_15_rebal = list(gmv_epo(stocks_15))  # 리밸런싱 시점에서의 최적 가중치 w**

# w** 이용하여 2023-08-01 부터 2023-10-10까지(3개월간) 투자 후 payoff(2023-10-10의 종가 * w**) 확인 
aa = mkt_out.loc['2023-10-10':'2023-10-10', tickers_15] # 2023-10-10 종가 df
bb = [] # 2023-10-10 종가 저장 리스트
for i in aa.columns:
    bb.append(float(aa[i]))
# payoff_final_15 = sum(np.multiply(bb, gmv_epo_15_rebal)) 

# w** 이용하여 2023-08-01 당시의 투자량(payoff) 확인
cc = mkt_out.loc['2023-08-01':'2023-08-01', tickers_15] # 2023-08-01 종가 df
dd = [] # 2023-08-01 종가 저장 리스트
for i in cc.columns:
    dd.append(float(cc[i]))
kk = list((np.divide(np.multiply(gmv_epo_15_rebal, [total_ret_3m] * 15), dd))) # 2023-08-01 기준 주식 보유량(XX주)

# 3개월 동안의 투자 수익률 확인 (소수점 단위)
ret_rebal_3m = ((sum(np.multiply(kk,bb)) - initial)/initial)   # ((2023-07-31의 payoff - 초기 payoff) / 초기 payoff)

# 2023-10-10 기준 나의 총 투자 (손)수익
total_ret_rebal_3m = initial*(1+ret_rebal_3m)  # 달러
total_ret_rebal_3m

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\2741204561.py:22: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b.append(float(a[i]))
C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\2741204561.py:29: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  d.append(float(c[i]))
100%|██████████| 15/15 [00:00<00:00, 714.10it/s]

           AAPL      AMZN      NVDA       JPM        PG       PFE       JNJ  \
AAPL   1.000000  0.156857  0.148238  0.109607  0.123385  0.080690  0.074690
AMZN   0.156857  1.000000  0.130122  0.087259  0.086409  0.053851  0.040523
NVDA   0.148238  0.130122  1.000000  0.096845  0.063929  0.035674  0.021050
JPM    0.109607  0.087259  0.096845  1.000000  0.091847  0.084323  0.066647
PG     0.123385  0.086409  0.063929  0.091847  1.000000  0.105001  0.114342
PFE    0.080690  0.053851  0.035674  0.084323  0.105001  1.000000  0.122511
JNJ    0.074690  0.040523  0.021050  0.066647  0.114342  0.122511  1.000000
KO     0.129419  0.088359  0.080624  0.102554  0.179366  0.104170  0.118525
XOM    0.081365  0.036812  0.044969  0.100556  0.033779  0.046001  0.031164
NEE    0.124011  0.083511  0.071494  0.083373  0.131879  0.089971  0.083161
GOOGL  0.171887  0.174978  0.130407  0.078736  0.087159  0.065198  0.056174
MSFT   0.179314  0.175678  0.164037  0.084968  0.109371  0.076839  0.054840
TSLA   0.125289  0.111807  0.122986  0.075284  0.037903  0.035946  0.011197
NKE    0.143689  0.125601  0.109297  0.115010  0.118438  0.067742  0.053667
BAC    0.105802  0.098412  0.091894  0.204355  0.080275  0.077632  0.052526

             KO       XOM       NEE     GOOGL      MSFT      TSLA       NKE  \
AAPL   0.129419  0.081365  0.124011  0.171887  0.179314  0.125289  0.143689
AMZN   0.088359  0.036812  0.083511  0.174978  0.175678  0.111807  0.125601
NVDA   0.080624  0.044969  0.071494  0.130407  0.164037  0.122986  0.109297
JPM    0.102554  0.100556  0.083373  0.078736  0.084968  0.075284  0.115010
PG     0.179366  0.033779  0.131879  0.087159  0.109371  0.037903  0.118438
PFE    0.104170  0.046001  0.089971  0.065198  0.076839  0.035946  0.067742
JNJ    0.118525  0.031164  0.083161  0.056174  0.054840  0.011197  0.053667
KO     1.000000  0.063160  0.137136  0.089809  0.107558  0.046840  0.123225
XOM    0.063160  1.000000  0.053749  0.037390  0.045544  0.025619  0.084477
NEE    0.137136  0.053749  1.000000  0.101160  0.100927  0.051721  0.106695
GOOGL  0.089809  0.037390  0.101160  1.000000  0.183726  0.091941  0.110234
MSFT   0.107558  0.045544  0.100927  0.183726  1.000000  0.089195  0.115772
TSLA   0.046840  0.025619  0.051721  0.091941  0.089195  1.000000  0.072086
NKE    0.123225  0.084477  0.106695  0.110234  0.115772  0.072086  1.000000
BAC    0.097583  0.105733  0.080754  0.085642  0.090612  0.082858  0.113170

            BAC
AAPL   0.105802
AMZN   0.098412
NVDA   0.091894
JPM    0.204355
PG     0.080275
PFE    0.077632
JNJ    0.052526
KO     0.097583
XOM    0.105733
NEE    0.080754
GOOGL  0.085642
MSFT   0.090612
TSLA   0.082858
NKE    0.113170
BAC    1.000000

Optimal

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\2741204561.py:80: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  bb.append(float(aa[i]))
C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\2741204561.py:87: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  dd.append(float(cc[i]))

10625.719208786542

In [20]:
ret_3m, total_ret_3m

(0.13032659312335526, 11303.265931233553)

In [21]:
ret_rebal_3m, total_ret_rebal_3m

(0.06257192087865424, 10625.719208786542)

In [22]:
# 초기 투자 금액 (1만 달러)
initial = 10000

# 초기 가중치 w* : GMW+EPO weight
## 종목 리스트
tickers_15
tickers_30
tickers_45
## 가중치 리스트
gmv_epo_15_weights
gmv_epo_30_weights
gmv_epo_45_weights
## 종목 : 가중치 딕셔너리
gmv_epo_15
gmv_epo_30
gmv_epo_45

{'AAPL': 0.011111111975729409,
 'GOOGL': 0.026646602204962858,
 'MSFT': 0.011111111299922065,
 'NVDA': 0.0309210193238956,
 'AMD': 0.025007258123960922,
 'ORCL': 0.034659892275724705,
 'CRM': 0.01111111146901072,
 'INTC': 0.011111111747740477,
 'CSCO': 0.011111111516746397,
 'JPM': 0.01779091912009698,
 'GS': 0.01984888218960698,
 'BAC': 0.02522647335013622,
 'MS': 0.011180137115527101,
 'AXP': 0.017489649124790285,
 'C': 0.028191045792364738,
 'JNJ': 0.03631158995254371,
 'UNH': 0.044444444090877805,
 'PFE': 0.016302194182152667,
 'ABBV': 0.011111111266490585,
 'TSLA': 0.011111111595258412,
 'AMGN': 0.01111111125737019,
 'GILD': 0.022827040798679366,
 'PG': 0.020587601244674014,
 'KO': 0.011111111503325005,
 'NKE': 0.011111111556128327,
 'PEP': 0.044444443639370106,
 'COST': 0.011111111461049875,
 'WMT': 0.04444444402780661,
 'TGT': 0.011111111368812045,
 'XOM': 0.011111112285545484,
 'CVX': 0.023035029376855205,
 'NEE': 0.01260693000477375,
 'DUK': 0.02165124524507929,
 'SO': 0.02165119066334294,
 'SLB': 0.011286898608143595,
 'MMM': 0.029528803525066108,
 'CAT': 0.017506358987491956,
 'HON': 0.03972350417693582,
 'GE': 0.018956379525549516,
 'ADP': 0.036275899230639834,
 'AMZN': 0.040688577981395774,
 'META': 0.011896549529971394,
 'HD': 0.03665347882393091,
 'VZ': 0.03968317677255412,
 'MRK': 0.028087890687943526}

In [23]:
date_sequence = pd.date_range(start='2023-01-01', end='2027-01-10', freq='3M')
date_sequence

DatetimeIndex(['2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30', '2025-07-31', '2025-10-31',
               '2026-01-31', '2026-04-30', '2026-07-31', '2026-10-31'],
              dtype='datetime64[ns]', freq='3M')

In [24]:
start = pd.to_datetime('2023-07-31')
before = start - pd.DateOffset(years=1) + pd.DateOffset(days = 1)
before
mkt_in[before:start]

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2022-08-01,133.43,14.28,161.51,140.22,109.52,43.49,304.74,411.09,171.46,84.26,...,63.54,73.19,94.48,35.98,91.20,122.74,109.76,358.43,53.93,179.74
2022-08-02,131.28,14.06,160.01,140.39,108.64,43.43,302.48,409.96,170.77,82.79,...,64.41,73.45,94.07,35.57,95.37,122.13,114.06,323.32,53.10,178.83
2022-08-03,134.56,14.63,166.13,141.20,109.61,43.50,308.17,424.54,176.36,82.25,...,66.29,74.31,91.02,35.90,97.31,119.81,115.61,326.41,53.96,180.16
2022-08-04,133.77,14.86,165.81,138.92,109.72,43.55,310.61,430.59,176.96,82.02,...,67.10,74.56,87.19,35.91,97.70,120.02,113.35,330.58,53.31,174.31
2022-08-05,133.61,14.74,165.35,138.04,109.25,43.81,309.35,433.43,177.25,82.76,...,66.71,73.80,88.45,36.84,97.22,118.42,113.26,331.70,54.00,174.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,138.48,13.32,165.33,164.08,110.40,72.51,277.25,377.34,186.96,80.80,...,114.48,71.03,118.20,41.44,104.54,138.90,138.14,288.19,28.27,176.35
2023-04-25,130.37,12.84,163.77,164.90,109.97,72.59,270.70,369.59,181.14,75.90,...,111.63,71.18,116.52,40.97,102.92,137.81,139.06,284.10,26.73,173.02
2023-04-26,133.12,12.74,163.76,161.80,108.75,72.29,271.21,363.06,180.66,77.03,...,109.45,69.68,115.45,40.93,100.98,138.01,139.08,280.42,26.39,172.94
2023-04-27,133.25,12.88,168.41,148.87,109.50,73.88,275.45,371.42,177.62,78.01,...,110.22,70.26,116.83,41.36,103.83,139.80,138.35,284.12,26.58,173.95
2023-04-28,135.43,13.64,169.68,151.12,110.47,75.07,280.29,377.56,179.88,78.08,...,114.28,69.91,118.34,41.93,103.84,140.58,138.44,288.03,27.86,175.78

In [25]:
print('리밸런싱 시점의 수익률 :', ret_3m.round(4))
print('리밸런싱 시점의 총 (손)수익 : $', total_ret_3m.round(4))

print('최종 수익률 :', ret_rebal_3m.round(4))
print('최종 (손)수익 : $', total_ret_rebal_3m.round(4))

리밸런싱 시점의 수익률 : 0.1303
리밸런싱 시점의 총 (손)수익 : $ 11303.2659
최종 수익률 : 0.0626
최종 (손)수익 : $ 10625.7192

-----------------

In [26]:
## 리밸런싱을 위한 GMV+EPO 최적화
def gmv_epo(dict, end, lookback_yr):
            # 종목:가중치 딕셔너리, lookback 기간의 마지막 날짜 'YYYY-MM-DD', lookback 기간(int)

    before = pd.to_datetime(end) - pd.DateOffset(years=lookback_yr) + pd.DateOffset(days=1)
    data = downloads(dict, before, end)  # mkt 데이터에서 일별 주가데이터 가져오기(lookback 기간만큼)
    ret = data.pct_change().dropna()
    
    num_assets = data.shape[1] # 종목 개수가 나와야함
    weights = cp.Variable((num_assets,1)) # 종목 개수랑 같아야함
    # corr_mat = np.corr(ret.values.T) # 개별 종목 별 기대수익률을 구해서 Correlation Matrix를 만듬
    corr_mat = ret.corr()

    theta = 0.75 # shrinkage parameter
    identity_matrix = np.eye(corr_mat.shape[0])  # identity matrix
    corr_mat = (1-theta) * corr_mat + theta * identity_matrix # corr_mat에 shrinkage parameter 적용

    # print(corr_mat)
    
    obj = cp.Minimize(cp.quad_form(weights, corr_mat)) # 목적식 설정
    
    # 가중치 합 = 1, weights >= 0, min weight ~ max weight 범위 제약
    const = [cp.sum(weights) == 1, weights >= 0, ((1/num_assets))/2 <= weights, weights <= 2*(1/num_assets)] # 제약식 설정, 공매도 원하면 위에 주석 가져다 옆으로 복붙하면됨
    
    problem = cp.Problem(obj, const) # 문제 정의
    problem.solve(verbose=False, solver=cp.CPLEX) # 문제 풀기
    
    if problem.status == "optimal":
        w_opt = np.array(weights.value).flatten()
        print("Optimal")
        # print(gmv_weights.value[:5])
        
        # print(max(gmv_weights.value)) # 가장 큰 weight를 보고싶으면 이거 주석 해제
    else:
        print("It isn't optimal")

    return w_opt

In [27]:
mkt_out

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
pricingDate,,,,,,,,,,,,,,,,,,,,,
2023-05-01,136.08,13.89,169.59,153.71,111.11,75.90,279.42,374.15,182.54,77.80,...,115.60,70.17,114.67,42.39,104.50,142.23,138.83,287.45,26.82,179.56
2023-05-02,134.52,13.77,168.54,151.62,111.50,76.03,276.74,368.66,183.66,75.52,...,113.20,69.10,110.10,42.10,104.52,142.90,143.01,255.44,23.92,176.90
2023-05-03,134.77,13.79,167.45,149.25,111.76,75.62,275.18,345.25,182.39,75.02,...,109.33,68.50,107.93,40.48,104.15,137.31,139.62,258.50,22.66,177.73
2023-05-04,133.88,13.51,165.79,147.36,110.86,72.92,266.50,335.83,181.33,74.22,...,109.25,69.11,106.04,40.85,106.33,136.32,136.63,265.00,19.93,178.47
2023-05-05,133.30,13.87,173.57,148.03,111.26,74.81,265.65,348.40,183.39,75.96,...,110.78,69.57,108.68,41.30,108.97,137.49,137.91,273.80,23.76,186.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-04,111.67,12.73,173.66,147.69,95.65,80.46,309.39,518.42,173.79,73.47,...,88.21,56.63,111.50,33.30,91.22,123.53,109.69,230.94,33.33,170.99
2023-10-05,110.35,12.85,174.91,147.45,96.20,81.64,309.66,516.44,172.10,73.13,...,89.49,56.48,108.99,32.18,90.14,121.84,109.30,222.54,33.40,172.00
2023-10-06,110.64,12.76,177.49,148.24,96.88,82.18,312.19,526.68,173.97,72.86,...,92.41,57.35,107.17,32.48,90.97,119.46,110.91,223.85,33.69,175.58
2023-10-09,111.28,12.24,178.99,149.11,96.76,82.07,312.01,529.29,173.32,73.90,...,93.07,57.65,110.92,31.96,91.09,118.91,110.69,222.58,33.97,174.60
2023-10-10,113.29,12.26,178.39,148.89,97.56,81.86,312.32,532.72,175.97,74.15,...,93.99,58.06,110.45,32.40,91.95,120.37,112.19,222.40,35.12,175.63

In [28]:
dates = pd.date_range('2023-03-01', '2023-08-31', freq='3MS') #- pd.DateOffset(days=1)
dates#[1]  + pd.DateOffset(months=3) - pd.DateOffset(days=1)

DatetimeIndex(['2023-03-01', '2023-06-01'], dtype='datetime64[ns]', freq='3MS')

In [70]:
# start부터 3개월간 투자 시, 수익률과 (손)수익 확인하는 함수
# parameter: 시작시점, 끝시점, 최적 종목 들어있는 리스트, lookback 기간(int)
def my_return(start, end, ticker_lst, lookback):

    ret_rebal = []  # 리밸런싱 시점에서의 수익률(소수점 단위)
    money_rebal = []  # 리밸런싱 시점에서의 (손)수익
    initial = 10000  # 초기 투자 금액 (1만 달러)

      # 시작 시점 기준 3개월 뒤 시점
    dates = pd.date_range(start, end, freq='3M')
    # ['2023-05-01', '2023-08-01']

    for i in range(len(dates)):
        start = dates[i]
        rebal = start + pd.DateOffset(months=3) - pd.DateOffset(days=1)
        # w* 이용하여 start 시점부터 3개월간 투자할 때, 3개월 뒤의 종가 확인
        price_3m = mkt_out.loc[rebal:, ticker_lst][0:1]  # 3개월 뒤 시점의 종가 df
        lst_3m = [] # 3개월 뒤 시점의 종가 저장 리스트
        for i in price_3m.columns:
            lst_3m.append(float(price_3m[i]))

        # w* 이용하여 start 시점 당시의 초기 투자량 확인
        price_now = mkt_out.loc[start:, ticker_lst][0:1]  # start 시점의 종가 df
        lst_now = []  # start 시점의 종가 저장 리스트
        for j in price_now.columns:
            lst_now.append(float(price_now[j]))

        # 리밸런싱을 위한 GMV+EPO 최적화
        opt_w = list(gmv_epo(stocks_15, start, lookback))  # 리밸런싱 시점에서의 최적 가중치 w**

        # 초기 투자 주식 보유량 (XX주)
        a = np.multiply(opt_w, ([initial] * len(ticker_lst) ) ) 
        count_stocks = np.divide(a, np.array(lst_now))

        # 3개월 동안의 투자 수익률 확인 (소수점 단위) : (3개월 뒤 시점의 payoff - start 시점의 payoff) / start 시점의 payoff
        b = sum(np.multiply(count_stocks, np.array(lst_3m)))
        ret_3m = (b - initial) / initial
        ret_rebal.append(ret_3m)

        # 3개월 후 총 투자 (손)수익 (달러)
        total_ret_3m = initial * (1 + ret_3m)
        money_rebal.append(total_ret_3m)

    return ret_rebal, money_rebal

In [71]:
start = '2023-05-01'
end =  '2023-10-01'
dates = pd.date_range(start, end, freq='3M')
i=0
start = dates[i]
rebal = start + pd.DateOffset(months=3) - pd.DateOffset(days=1)
opt_w = list(gmv_epo(stocks_15, start, 1))
len(stocks_15)

100%|██████████| 15/15 [00:00<00:00, 1359.20it/s]

Optimal

15

In [72]:
a = np.array([1,2,3])
b = np.array([4,5,6])
k = sum(np.multiply(a,b))
a.T @ b
k - initial

-9968

In [73]:
type(np.multiply([10000]*15, [opt_w]))

numpy.ndarray

In [74]:
ret, money = my_return('2023-05-01', '2023-10-01', tickers_15, 1)
ret, money

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\282612891.py:20: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lst_3m.append(float(price_3m[i]))
C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\282612891.py:26: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lst_now.append(float(price_now[j]))
100%|██████████| 15/15 [00:00<00:00, 1242.34it/s]

Optimal

TypeError: cannot convert the series to <class 'float'>

In [75]:
price_now = mkt_out.loc['2023-05-01':, tickers_15][0:1]  # start 시점의 종가 df
lst_now = []  # start 시점의 종가 저장 리스트
for j in price_now.columns:
    lst_now.append(float(price_now[j]))
price_now

C:\Users\Yoojiyoung\AppData\Local\Temp\ipykernel_18084\1230053243.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lst_now.append(float(price_now[j]))

,AAPL,AMZN,NVDA,JPM,PG,PFE,JNJ,KO,XOM,NEE,GOOGL,MSFT,TSLA,NKE,BAC
pricingDate,,,,,,,,,,,,,,,
2023-05-01,169.59,102.05,289.1,141.2,156.57,39.21,163.6,64.3,114.67,76.8,107.2,305.56,161.83,127.92,29.04

In [78]:
lst_now

[169.59,
 102.05,
 289.1,
 141.2,
 156.57,
 39.21,
 163.6,
 64.3,
 114.67,
 76.8,
 107.2,
 305.56,
 161.83,
 127.92,
 29.04]