In [2]:
import pandas as pd
mkt = pd.read_csv('C:/Users/Yoojiyoung/OneDrive - 경희대학교/문서/GitHub/SNPQuantTeam01/Jiyoung/new_market.csv')
mkt

,pricingDate,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,2018-05-01,66.24,43.36,42.2750,102.07,58.82,26.876666,151.92,224.08,88.86,...,191.85,46.65,76.95,50.64,70.37,86.64,116.95,136.78,55.05,83.40
1,2018-05-02,65.91,42.24,44.1425,100.37,57.85,26.310000,150.71,221.10,88.30,...,191.03,46.54,76.80,50.59,68.88,80.20,117.46,133.12,55.19,79.90
2,2018-05-03,66.34,42.11,44.2225,100.28,57.93,25.983333,151.73,226.05,87.91,...,191.62,46.48,76.54,49.24,69.63,82.67,115.18,133.54,54.45,80.38
3,2018-05-04,67.00,42.86,45.9575,100.17,58.74,26.276666,153.44,228.51,90.27,...,192.41,46.39,76.90,49.99,70.08,82.43,116.22,134.67,55.46,81.56
4,2018-05-07,67.39,42.44,46.2900,99.63,59.32,26.376666,152.30,230.99,90.50,...,191.91,46.13,77.74,46.92,70.02,83.11,116.99,137.48,55.51,82.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366,2023-10-04,111.67,12.73,173.6600,147.69,95.65,80.460000,309.39,518.42,173.79,...,88.21,56.63,111.50,33.30,91.22,123.53,109.69,230.94,33.33,170.99
1367,2023-10-05,110.35,12.85,174.9100,147.45,96.20,81.640000,309.66,516.44,172.10,...,89.49,56.48,108.99,32.18,90.14,121.84,109.30,222.54,33.40,172.00
1368,2023-10-06,110.64,12.76,177.4900,148.24,96.88,82.180000,312.19,526.68,173.97,...,92.41,57.35,107.17,32.48,90.97,119.46,110.91,223.85,33.69,175.58
1369,2023-10-09,111.28,12.24,178.9900,149.11,96.76,82.070000,312.01,529.29,173.32,...,93.07,57.65,110.92,31.96,91.09,118.91,110.69,222.58,33.97,174.60
1370,2023-10-10,113.29,12.26,178.3900,148.89,97.56,81.860000,312.32,532.72,175.97,...,93.99,58.06,110.45,32.40,91.95,120.37,112.19,222.40,35.12,175.63

In [3]:
mkt.columns

Index(['pricingDate', 'A', 'AAL', 'AAPL', 'ABBV', 'ABT', 'ACGL', 'ACN', 'ADBE',
       'ADI',
       ...
       'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=486)

In [6]:
# GPT 종목 (GPT weight)
stocks_15 = {
    "AAPL": 0.084, "AMZN": 0.074, "NVDA": 0.064, "JPM": 0.054, "PG": 0.054,
    "PFE": 0.064, "JNJ": 0.064, "KO": 0.054, "XOM": 0.064, "NEE": 0.074,
    "GOOGL": 0.084, "MSFT": 0.084, "TSLA": 0.074, "NKE": 0.054, "BAC": 0.054
}

stocks_30 = {
    "MSFT": 0.067, "AMZN": 0.067, "NVDA": 0.067, "AAPL": 0.067, "GOOGL": 0.067,
    "ADBE": 0.067, "JNJ": 0.05, "PFE": 0.05, "MRK": 0.05, "ABT": 0.05, 
    "PG": 0.05, "KO": 0.05, "JPM": 0.05, "GS": 0.05, "CAT": 0.025, 
    "CVX": 0.025, "XOM": 0.025, "BA": 0.025, "TSLA": 0.025, "NEE": 0.025, 
    "NKE": 0.005, "VZ": 0.005, "CRM": 0.005, "UNH": 0.005, "WMT": 0.005, 
    "QCOM": 0.005, "BAC": 0.005, "V": 0.005, "MCD": 0.005, "INTC": 0.005
}

stocks_45 = {
    "AAPL": 0.05, "GOOGL": 0.04, "MSFT": 0.04, "NVDA": 0.03, "AMD": 0.03, 
    "ORCL": 0.02, "CRM": 0.02, "INTC": 0.01, "CSCO": 0.01, "JPM": 0.04, 
    "GS": 0.03, "BAC": 0.03, "MS": 0.02, "AXP": 0.02, "C": 0.01,
    "JNJ": 0.03, "UNH": 0.03, "PFE": 0.02, "ABBV": 0.02, "TSLA": 0.02, 
    "AMGN": 0.02, "GILD": 0.01, "PG": 0.03, "KO": 0.03, "NKE": 0.02, 
    "PEP": 0.02, "COST": 0.02, "WMT": 0.02, "TGT": 0.01, "XOM": 0.025, 
    "CVX": 0.025, "NEE": 0.02, "DUK": 0.01, "SO": 0.01, "SLB": 0.01,
    "MMM": 0.02, "CAT": 0.02, "HON": 0.02, "GE": 0.02, "ADP": 0.02,
    "AMZN": 0.02, "META": 0.02, "HD": 0.02, "VZ": 0.01, "MRK": 0.01
}

a = list(stocks_15.keys())
b = list(stocks_30.keys())
c = list(stocks_45.keys())

In [ ]:
import yfinance as yf
yf.pdr_override() # 야후에서 데이터를 획득하는 방식이 크롤링으로 변경
import pandas as pd

# ETF ticker
ticker = mkt.columns
# 순서대로 equity(주식), corporate(회사채), Treasury(국채), HY(고수익), Emerging market bond
etf_close = pd.DataFrame()
start = '2023-10-11'
end = '2023-10-31'
for i in ticker:
  etf_close[i] = yf.download(i, start=start, end=end)['Adj Close'] # download 방법
etf_close
# etf_return = etf_close.pct_change().dropna()
# etf_month = etf_return.resample('M').apply(lambda x: (1 + x).prod() - 1)
# etf_month # = etf_month*100
# 현재는 0.05 상태, *100 하면 퍼센트로 바뀜

In [16]:
etf_close

,pricingDate,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-11,NaN,113.379997,12.48,179.563431,147.860001,92.129997,83.019997,312.540009,549.909973,174.919998,...,94.454819,58.810001,105.525040,31.799999,92.068680,118.379997,105.349998,217.160004,35.221367,176.527344
2023-10-12,NaN,108.940002,12.06,180.472244,148.300003,90.190002,83.050003,304.359985,559.630005,173.600006,...,93.278244,58.150002,105.505226,30.600000,90.992195,116.250000,102.720001,210.869995,34.776775,173.893646
2023-10-13,NaN,110.510002,11.72,178.614685,147.960007,90.870003,84.160004,301.829987,548.760010,171.070007,...,90.017738,58.860001,108.874420,30.830000,89.875847,116.879997,104.300003,206.919998,34.154350,173.963486
2023-10-16,NaN,111.500000,11.94,178.484863,147.229996,92.180000,85.699997,305.339996,550.739990,172.750000,...,90.057625,59.560001,108.953690,31.389999,91.600212,118.449997,105.050003,214.970001,35.488117,174.761566
2023-10-17,NaN,112.400002,11.94,176.916916,149.179993,92.139999,86.620003,308.250000,560.090027,172.610001,...,90.037689,59.509998,110.380646,32.119999,92.716553,119.440002,106.589996,212.990005,36.298260,173.843765
2023-10-18,NaN,108.610001,11.36,175.608643,149.279999,95.559998,85.449997,303.769989,557.869995,171.270004,...,86.468086,59.330002,111.926506,32.340000,90.045296,120.989998,106.190002,209.119995,35.260883,169.135040
2023-10-19,NaN,109.510002,11.45,175.229156,145.520004,95.440002,83.779999,302.940002,555.739990,168.720001,...,87.963730,59.049999,111.995872,31.500000,91.859360,120.559998,104.809998,205.990005,31.852365,167.638626
2023-10-20,NaN,109.230003,11.08,172.652542,146.229996,96.779999,82.760002,297.000000,540.960022,166.520004,...,87.345528,58.099998,110.073456,31.850000,91.510498,119.949997,104.559998,204.550003,29.599777,166.690903
2023-10-23,NaN,109.339996,11.29,172.772385,144.729996,95.779999,81.860001,294.940002,540.409973,163.869995,...,89.579018,58.049999,108.458221,32.340000,89.357552,118.760002,105.160004,205.289993,29.688694,166.102310
2023-10-24,NaN,105.639999,11.21,173.211807,146.309998,94.809998,83.419998,296.089996,539.559998,164.929993,...,91.154427,59.080002,107.407829,32.650002,89.148232,119.910004,104.839996,205.910004,29.500980,166.720825
2023-10-25,NaN,103.400002,11.04,170.874893,145.259995,93.570000,83.489998,292.679993,521.140015,159.789993,...,88.681633,59.470001,107.606010,31.809999,87.473717,120.309998,103.639999,198.910004,29.273745,163.279068
2023-10-26,NaN,104.309998,11.15,166.670425,145.199997,93.980003,82.449997,292.040009,514.280029,160.860001,...,87.285698,59.770000,106.624985,30.680000,88.400681,118.750000,103.120003,204.830002,30.083887,157.692444
2023-10-27,NaN,102.769997,10.92,167.998672,138.929993,92.849998,81.360001,290.040009,508.119995,160.570007,...,87.026451,58.310001,104.593567,30.600000,87.882370,119.440002,103.190002,207.179993,29.095911,155.657318
2023-10-30,NaN,101.169998,11.18,170.065933,141.889999,93.000000,82.879997,292.700012,526.940002,155.880005,...,87.824135,58.740002,104.920570,29.990000,88.978783,119.870003,103.410004,209.770004,29.619537,156.625000

In [18]:
etf_close = etf_close.drop('pricingDate', axis= 1)
mkt = mkt.set_index('pricingDate')

In [15]:
k = 0
for i in c:
    if i in etf_close.columns:
        k += 1
    # k = (i in etf_close.columns).sum()
k

45

In [19]:
mkt = pd.concat([mkt, etf_close], axis = 0)
mkt

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2018-05-01,66.240000,43.36,42.275000,102.070000,58.820000,26.876666,151.920000,224.080000,88.860000,45.030000,...,191.850000,46.650000,76.950000,50.640000,70.370000,86.640000,116.950000,136.780000,55.050000,83.400000
2018-05-02,65.910000,42.24,44.142500,100.370000,57.850000,26.310000,150.710000,221.100000,88.300000,44.430000,...,191.030000,46.540000,76.800000,50.590000,68.880000,80.200000,117.460000,133.120000,55.190000,79.900000
2018-05-03,66.340000,42.11,44.222500,100.280000,57.930000,25.983333,151.730000,226.050000,87.910000,43.600000,...,191.620000,46.480000,76.540000,49.240000,69.630000,82.670000,115.180000,133.540000,54.450000,80.380000
2018-05-04,67.000000,42.86,45.957500,100.170000,58.740000,26.276666,153.440000,228.510000,90.270000,43.860000,...,192.410000,46.390000,76.900000,49.990000,70.080000,82.430000,116.220000,134.670000,55.460000,81.560000
2018-05-07,67.390000,42.44,46.290000,99.630000,59.320000,26.376666,152.300000,230.990000,90.500000,43.690000,...,191.910000,46.130000,77.740000,46.920000,70.020000,83.110000,116.990000,137.480000,55.510000,82.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24 00:00:00,105.639999,11.21,173.211807,146.309998,94.809998,83.419998,296.089996,539.559998,164.929993,69.041992,...,91.154427,59.080002,107.407829,32.650002,89.148232,119.910004,104.839996,205.910004,29.500980,166.720825
2023-10-25 00:00:00,103.400002,11.04,170.874893,145.259995,93.570000,83.489998,292.679993,521.140015,159.789993,70.612259,...,88.681633,59.470001,107.606010,31.809999,87.473717,120.309998,103.639999,198.910004,29.273745,163.279068
2023-10-26 00:00:00,104.309998,11.15,166.670425,145.199997,93.980003,82.449997,292.040009,514.280029,160.860001,71.407326,...,87.285698,59.770000,106.624985,30.680000,88.400681,118.750000,103.120003,204.830002,30.083887,157.692444
2023-10-27 00:00:00,102.769997,10.92,167.998672,138.929993,92.849998,81.360001,290.040009,508.119995,160.570007,69.608482,...,87.026451,58.310001,104.593567,30.600000,87.882370,119.440002,103.190002,207.179993,29.095911,155.657318
2023-10-30 00:00:00,101.169998,11.18,170.065933,141.889999,93.000000,82.879997,292.700012,526.940002,155.880005,70.979980,...,87.824135,58.740002,104.920570,29.990000,88.978783,119.870003,103.410004,209.770004,29.619537,156.625000

In [21]:
mkt.index = pd.to_datetime(mkt.index, format='%Y-%m-%d')

In [22]:
mkt

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2018-05-01,66.240000,43.36,42.275000,102.070000,58.820000,26.876666,151.920000,224.080000,88.860000,45.030000,...,191.850000,46.650000,76.950000,50.640000,70.370000,86.640000,116.950000,136.780000,55.050000,83.400000
2018-05-02,65.910000,42.24,44.142500,100.370000,57.850000,26.310000,150.710000,221.100000,88.300000,44.430000,...,191.030000,46.540000,76.800000,50.590000,68.880000,80.200000,117.460000,133.120000,55.190000,79.900000
2018-05-03,66.340000,42.11,44.222500,100.280000,57.930000,25.983333,151.730000,226.050000,87.910000,43.600000,...,191.620000,46.480000,76.540000,49.240000,69.630000,82.670000,115.180000,133.540000,54.450000,80.380000
2018-05-04,67.000000,42.86,45.957500,100.170000,58.740000,26.276666,153.440000,228.510000,90.270000,43.860000,...,192.410000,46.390000,76.900000,49.990000,70.080000,82.430000,116.220000,134.670000,55.460000,81.560000
2018-05-07,67.390000,42.44,46.290000,99.630000,59.320000,26.376666,152.300000,230.990000,90.500000,43.690000,...,191.910000,46.130000,77.740000,46.920000,70.020000,83.110000,116.990000,137.480000,55.510000,82.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24,105.639999,11.21,173.211807,146.309998,94.809998,83.419998,296.089996,539.559998,164.929993,69.041992,...,91.154427,59.080002,107.407829,32.650002,89.148232,119.910004,104.839996,205.910004,29.500980,166.720825
2023-10-25,103.400002,11.04,170.874893,145.259995,93.570000,83.489998,292.679993,521.140015,159.789993,70.612259,...,88.681633,59.470001,107.606010,31.809999,87.473717,120.309998,103.639999,198.910004,29.273745,163.279068
2023-10-26,104.309998,11.15,166.670425,145.199997,93.980003,82.449997,292.040009,514.280029,160.860001,71.407326,...,87.285698,59.770000,106.624985,30.680000,88.400681,118.750000,103.120003,204.830002,30.083887,157.692444
2023-10-27,102.769997,10.92,167.998672,138.929993,92.849998,81.360001,290.040009,508.119995,160.570007,69.608482,...,87.026451,58.310001,104.593567,30.600000,87.882370,119.440002,103.190002,207.179993,29.095911,155.657318
2023-10-30,101.169998,11.18,170.065933,141.889999,93.000000,82.879997,292.700012,526.940002,155.880005,70.979980,...,87.824135,58.740002,104.920570,29.990000,88.978783,119.870003,103.410004,209.770004,29.619537,156.625000

In [23]:
mkt.to_csv('./new_market.csv')